#### Variables

Variables are containers for storing data values.

#### Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [1]:
x = 5
y = "John"

print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [2]:
x = 4        # x is type int
x = "Sally"  # x is now of type str

print(x)

Sally

#### Casting
If you want to specify the data type of a variable, this can be done with casting.

In [3]:
x = str(3)   # x will be '3'
y = int(3)   # y will be  3
z = float(3) # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

#### Get the Type

you can get the data type() fuction.

In [4]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#### Single or Double Quotes?
String variables can be declared either by using single or double quotes:

In [6]:
x = "John"
# is the same as 
x = 'John'

print(x)

John

In [7]:
a = """Hello World!"""

print(a)

Hello World!

#### Case-Sensitive
Variable names are case-sensitive.

In [8]:
a = 4

A = "Sally"

# A will not overwite a
print(a)
print(A)

4
Sally


#### Variable Names

* A variable can have a short name (like x and y) or a more descriptive name (age, carname,total_volume).

#### Rules for Python variables:

* A variable name must start with a letter or the underscore character

* A variable name cannot start with a number

* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [9]:
# Legal variable name 
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [10]:
# Illegal variale name 

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (2250116647.py, line 3)

In [11]:
my-var = 2
print(my-var)

SyntaxError: cannot assign to operator (993107414.py, line 1)

In [12]:
23_var = 222
print(23_Var)

SyntaxError: invalid decimal literal (1020698617.py, line 1)

In [13]:
new!var = "hello"
print(new!var)

SyntaxError: invalid syntax (2569296892.py, line 1)

In [14]:
my var = "hello"
print(my var)

SyntaxError: invalid syntax (9186544.py, line 1)

In [15]:
# now let's see other 

_var = 4
print(_var)

4

In [16]:
num_1 = 12
print(num_1)

12

#### Multi Words Variable Names

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

#### Camel Case
Each word, except the first, starts with a capital letter:

In [18]:
myVariableName = "John"

In [19]:
newVariableName = "hello"
print(newVariableName)

hello

In [20]:
myCurrentAccountNum = 12121212232323
print(myCurrentAccountNum)

12121212232323

#### Pascal Case
Each word starts with a capital letter:

In [21]:
MyVariableName = "John"

In [22]:
MyNewVariable = "Hello World"
print(MyNewVariable)

Hello World

In [23]:
MyDigitNumber = 1221244
print(MyDigitNumber)

1221244

#### Snake Case
Each word is separated by an underscore character:

In [24]:
my_variable_name = "John"

In [25]:
my_new_var = "hello"
print(my_new_var)

hello

In [26]:
second_number = 2332
print(second_number)

2332

In [27]:
new_var = "I like snake case variable declaration"
print(new_var)

I like snake case variable declaration

#### Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [28]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

**Note:** Make sure the number of variables matches the number of values, or else you will get an error.

#### One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

In [29]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

#### Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [30]:
fruits = ["apple", "banana", "cherry"]

x, y, z = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

In [31]:
# multiple variable asssignment help to swap case or help to reassign some value without 
# the help of other temporary varibale.

a = 10
b = 20
c = 30

# now without taking help of any third variable we will be able to reassign the variable with 
# different value which is available 

a,b,c = c,b,a

# now let's print these variable 

print(a)
print(b)
print(c)

30
20
10

In [34]:
# but when we try to swap value in different lines
a = 10
b = 20
c = 30

a = b
b = c 
c = a
print("a :", a)
print("b :", b)
print("c :", c)

a : 20
b : 30
c : 20

As we can see that value of 'a' and 'c' is same because they share the same object.

#### Output Variables
The Python print() function is often used to output variables.

In [35]:
x = "Python is awesome"

print(x)

Python is awesome

In the `print()` function, you output multiple variables, separated by a comma:

In [36]:
x = "Python"
y = "is"
z = "awesome"
print(z, y, z)

awesome is awesome

You can also use the` + `operator to output multiple variables:

In [37]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [38]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Notice the space character after `"Python " `and `"is "`, without them the result would be "Pythonisawesome".

In [39]:
x = 5
y = 10
print(x + y)

15

In the `print()` function, when you try to combine`a string` and `a number` with the` + `operator, Python will give you an error:

In [40]:
x = 5
y = "John"

print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the `print()` function is to separate them with commas, which even support different data types:

In [41]:
x = 5

y = "John"

print(x, y)

5 John

#### Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

#### Example
Create a variable outside of a function, and use it inside the function

In [42]:
x = "awesome"

def myfunc():
    print("Python is " + x)
    
myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

#### Example
Create a variable inside a function, with the same name as the global variable

In [43]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)
    
myfunc()

print("Python is", x)

Python is fantastic
Python is awesome

As we can see that in side fuction it took local and out side fuction it took global value

#### The global Keyword
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

#### Example
If you use the global keyword, the variable belongs to the global scope

In [44]:
def myfunc():
    global x
    x = "fantastic"
    print(x)
myfunc()

print("Python is " + x)

fantastic
Python is fantastic

as we can see that this time x assigned as global value by 'global' keyword and now this this can be access gloablly

In [45]:
# let's take an another example 

x = " "

def  myfunc():
    global x
    x = "fantastic"
    print(x)
    
myfunc()

print("Out side x is : " + x)

fantastic
Out side x is : fantastic

Also, use the global keyword if you want to change a global variable inside a function.

#### Example
To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [46]:
x = "Fantastic"

def myfunc():
    global x
    x = "Awesome"
    
myfunc()

print("Python is " + x)

Python is Awesome

see how we have change the value of x inside funtion

### Multiple print() we can use in single line by separating by ";" semicolon.

* The ";" will be treated as new line character

In [47]:
print("Hello world!");print('this is second print statement')

Hello world!
this is second print statement

In [48]:
print("Hello world!");print('this is second print statement');print(4+8);print("this will be 4rth line")

Hello world!
this is second print statement
12
this will be 4rth line