#### Python Operators
Operators are used to perform operations on variables and values.

In the example below, we will use the '+' operator to add together two values:

In [1]:
print(10 + 5)

15

`Python divides the operators in the following groups:`

* 1.  Arithmetic operators

* 2.  Assignment operators

* 3.  Comparison operators

* 4.  Logical operators

* 5.  Identity operators

* 6.  Membership operators

* 7.  Bitwise operators

#### 1.  Python Arithmetic Operators


Arithmetic operators are used with numeric values to perform common mathematical operations:


Operator ----	Name	----------- Example	

* ` +	`  --------Addition	---------x + y	

* ` -	`  --------Subtraction	-----x - y	

* ` *	`  --------Multiplication----x * y	

* ` /	`  --------Division	---------x / y	

* ` %	`  --------Modulus	---------x % y	

* ` **`  --------  Exponentiation----x ** y	

* ` //`  --------  Floor division---x // y

In [1]:
# Addition + 

x = 5
y = 3

print(x + y)

8

In [2]:
# Subtraction - 
x = 5
y = 3

print(x - y)

2

In [3]:
# Multiplication * 

x = 5
y = 3

print(x * y)

15

In [4]:
# Division /
x = 12
y = 3

print(x / y)

4.0

In [2]:
x = 5
y = -2

print(x/y)

-2.5

In [5]:
# Modulus %
x = 5
y = 2

print(x % y)

1

In [6]:
#Exponentiation ** 
x = 2
y = 5

print(x ** y)

32

#### Floor division 

Floor division is an operation in Python that divides two numbers and rounds the result `down to the nearest integer`. The floor division happens via the double-backslash (`//`) operator. `r = a // b.`

In [2]:
# Floor division
x = 15
y = 2

print(x // y)

7

In [3]:
x = 5
y = 3

print(x // y)

1

In [4]:
x = -5
y = 3

print(x // y)

# down to the nearest integer
# means opposite to normal math

-2

In [4]:
x = 5
y = -2

print(x//y)

-3

#### Python Assignment Operators

Assignment operators are used to assign values to variables:

* Operator	----Example   ---- 	Same As	

*  `=`  ----	x = 5	--------x = 5	

* `+=`  ----	x += 3	--------x = x + 3	

* `-=`  ----	x -= 3	--------x = x - 3	

* `*=`  ----	x *= 3	--------x = x * 3	

* `/=`  ----	x /= 3	--------x = x / 3	

* `%=`  ----	x %= 3	--------x = x % 3	

* `//=`  ----	x //= 3	--------x = x // 3	

* `**=`  ----	x **= 3	--------x = x ** 3	

* `&=`  ----	x &= 3	--------x = x & 3	

* `|=`  ----	x |= 3	--------x = x | 3	

* `^=`  ----	x ^= 3	--------x = x ^ 3	

* `>>=`  ----	x >>= 3	--------x = x >> 3	

* `<<=`  ----	x <<= 3	--------x = x << 3

In [10]:
# =
x = 5 
print(x)

5

In [11]:
# +=

x = 5 
x += 3

print(x)

8

In [12]:
# -=

x = 5

x -= 3

print(x)

2

In [13]:
# *=

x = 5

x *= 3

print(x)

15

In [14]:
# /=

x = 5

x /=3
print(x)

1.6666666666666667

In [15]:
# /=

x = 5

x /=3
print(f"{x:.2f}")

1.67

In [16]:
# %= 

x = 5

x %= 3

print(x)

2

In [4]:
# //=

x = 5

x //= 3

print(x)

1

In [18]:
# **=

x = 5

x **= 2

print(x)

25

In [5]:
x = 5

x &= 3  # & ---AND ------Sets each bit to 1 if both bits are 1.

print(x)

1

In [6]:
x = 5

x |= 3  # | --- OR------ Sets each bit to 1 if one of two bits is 1.

print(x)

7

In [21]:
x = 5

x ^= 3    # '^' ---XOR ------Sets each bit to 1 if only one of two bits is 1.

print(x)

6

In [22]:
x = 5

x >>= 3  # >>    Signed right shift Shift right by pushing copies of the leftmost bit in 
         # from the left, and let the rightmost bits fall off

print(x)

0

In [25]:
x = 5

x <<= 3  # <<  Zero fill left shift Shift left by pushing zeros in from the right
         #  and let the leftmost bits fall off.

print(x)

40

#### Python Comparison Operators
Comparison operators are used to compare two values:

* Operator     ------   Name   -----	Example	

* ` == `       ------   	Equal           	`x == y	`

* `!=`         ------  	Not equal           	`x != y`	

* `>`          ------ 	Greater than           	`x > y`

* `<`          ------ 	Less than	           `x < y`

* `>=`         ------  	Greater than or equal to           	`x >= y`	

* `<=`	       ------     Less than or equal to           	`x <= y`

In [10]:
x = 5
y = 3

print(x == y)

False

In [11]:
x = 5
y = 3

print(x != y)

True

In [12]:
x = 5
y = 3

print(x > y)

True

In [13]:
x = 5
y = 3

print(x < y)

False

In [14]:
x = 5
y = 3

print(x >= y)

True

In [15]:
x = 5
y = 3

print(x > = y)

# note - there shuold be no gap between both
# the operator

SyntaxError: invalid syntax (26097250.py, line 4)

In [16]:
x = 5
y = 3

print(x <= y)

False

#### Python Logical Operators
Logical operators are used to combine conditional statements:

* `and `	Returns True if both statements are true	x < 5 and  x < 10	

* `or`	Returns True if one of the statements is true	x < 5 or x < 4	

* `not`	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [8]:
x = 5
print(x> 3 and x<10)

True

In [9]:
x = 5

print(x> 4 or x<4)

True

In [10]:
x = 5
print(not(x>3 and x < 10))
# returns False because not is used to
# reverse the result

False

In [11]:
x = 3

print(not(x>2 and x<20))

False

In [31]:
x = 5
print(not(x>2))# 'NOt' operator reverse the result means 
               # if condition is 'True' then it will return 'False'

False

#### Python Identity Operators


Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

`is` 	----  Returns True if both variables are the same object	x is y	


`is not`	----  Returns True if both variables are not the same object

In [5]:
# note here we have taken same 
x = ["apple", "banana"]
y = ["apple", "banana"]

z = x

print(x is z)

True

 returns True because z is the same object as x

In [6]:
# note here we have taken same element in both the list 
# despite that it retruns False becasue objects of 'x' and object of 'y' is diff.

print(x is y)

False

In [7]:
id(x), id(y)

(2077674065792, 2077674065536)

returns False because x is not the same object as y, even if they have the same content

In [8]:
print(x == y)

True

to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

In [9]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because
# x is equal to y.

False
True
False

#### Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

* `in `	Returns True if a sequence with the specified value is present in the object	x in y


* `not in`	Returns True if a sequence with the specified value is not present in the object	x not in y

In [38]:
x = ["apple", "banana"]

print("banana" in x)

True

returns True because a sequence with the value "banana" is in the list

In [39]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

returns True because a sequence with the value "pineapple" is not in the list

#### Python Bitwise Operators

Bitwise operators are used to compare (binary) numbers:

Operator	Name	 Description

* &     ---AND	 ------Sets each bit to 1 if both bits are 1.

* |     ---   OR------  Sets each bit to 1 if one of two bits is 1.

* ^    ---XOR	 ------Sets each bit to 1 if only one of two bits is 1.
 
* ~     ---NOT	 ------Inverts all the bits.

* `<<  Zero fill left shift ` 	Shift left by pushing zeros in from the right and let the leftmost bits fall off.

* ` >>	Signed right shift`	   Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off.

In [28]:
# & ---AND ------Sets each bit to 1 if both bits are 1

# In AND operator if both the input is one(1) then output will be one(1) otherwise output will be
# zero(0).
a = 10
b = 2

a & b

2

In [26]:
# | --- OR------ Sets each bit to 1 if one of two bits is 1

# In OR operators if any input is one(1) or both are one(1) then output will be one(0) if both 
# the input is zero(0) then only the output will be zero(0).


a = 10
b = 14
a|b

14

In [5]:
a = 12
b = 122
a|b

126

In [27]:
# XOR  - ^ ---XOR ------Sets each bit to 1 if only one of two bits is 1
# if both the input is same either 1 or 0 then output will be zero(0) , and if input is different
# then output will be one(1). by this we will get XOR value of two numbers
a = 10
b = 4

a^b

14

In [30]:
# ~ ---NOT ------Inverts all the bits
# It flip the output means if input is 0 then out put will be 1 and vice versa.

a = 20

~a

-21

In [31]:
# <<  Zero fill left shift Shift left by pushing zeros in from the right and 
#                                             let the leftmost bits fall off.

# means it will shift the bit towards left n number and add the n numner of 0's at last .
# means it will increase the number 
a = 6
a<<2

24

In [32]:
# >>    Signed right shift Shift right by pushing copies of the leftmost bit in from the left, 
#                                                         and let the rightmost bits fall off.
# same as the left shift the right shift will shift the bit towords right n number and add n 
# numbers zero prefix to the binary of the number means it will decrease the number.

a = 80

a>>2

20

### Important Notes on Precedence of Operators

* `Operators	                 Meaning`

* `()	                         Parentheses`

* `**	                         Exponent`

* `+x, -x, ~x	                 Unary plus, Unary minus, Bitwise NOT`

* `*, /, //, %                  Multiplication, Division, Floor division, Modulus`

* `+, -	                     Addition, Subtraction`

* `<<, >>	                     Bitwise shift operators`

* `&	                         Bitwise AND`

* `^	                         Bitwise XOR`

* `|	                         Bitwise OR`

* `==, !=, >, >=, <, <=, is, is not, in, not in	Comparisons, Identity, Membership operators`

* `not	                         Logical NOT`

* `and	                         Logical AND`

* `or	                         Logical OR`

In [7]:
# Precedence of or & and
meal = "fruit"

money = 0

if meal == "fruit" or meal == "sandwich" and money >= 2:
    print("Lunch being delivered")
else:
    print("Can't deliver lunch")

Lunch being delivered

* This program runs if block even when money is 0. It does not give us the desired output since the precedence of `and` is higher than `or`.

* Here first comparision had with meal and money because of 'and' and then with 'meal' 'or' 'meal

* We can get the desired output by using parenthesis () in the following way:

In [8]:
# Precedence of or & and
meal = "fruit"

money = 0

if (meal == "fruit" or meal == "sandwich") and money >= 2:
    print("Lunch being delivered")
else:
    print("Can't deliver lunch")

Can't deliver lunch

In [9]:
# Left-right associativity
# Output: 3
print(5 * 2 // 3)

# Shows left-right associativity
# Output: 0
print(5 * (2 // 3))

3
0

In [10]:
# Shows the right-left associativity of **
# Output: 512, Since 2**(3**2) = 2**9
print(2 ** 3 ** 2)

# If 2 needs to be exponated fisrt, need to use ()
# Output: 64
print((2 ** 3) ** 2)

512
64

#### Non associative operators
Some operators like assignment operators and comparison operators do not have associativity in Python. There are separate rules for sequences of this kind of operator and cannot be expressed as associativity.

`For example, x < y < z neither means (x < y) < z nor x < (y < z). x < y < z is equivalent to x < y and y < z, and is evaluated from left-to-right.`

`Furthermore, while chaining of assignments like x = y = z = 1 is perfectly valid, x = y = z+= 2 will result in error.`

In [11]:
# Initialize x, y, z
x = y = z = 1

# Expression is invalid
# (Non-associative operators)
# SyntaxError: invalid syntax

x = y = z+= 2

SyntaxError: invalid syntax (3128167520.py, line 8)

In [1]:
lst1 = [1,2,3,4]
lst2 = [2,3,4,5,6]

lst1-lst2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [2]:
lst1 = [1,2,3,4]
lst2 = [2,3,4,5,6]

lst1+lst2

[1, 2, 3, 4, 2, 3, 4, 5, 6]

In [3]:
lst1 = [1,2,3,4]
lst2 = [2,3,4,5,6]

lst1*lst2

TypeError: can't multiply sequence by non-int of type 'list'

In [4]:
lst1 = [1,2,3,4]


lst1*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [5]:
lst1 = [1,2,3,4]


lst1-3

TypeError: unsupported operand type(s) for -: 'list' and 'int'