#### Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [1]:
print(10 + 5)

15

`Python divides the operators in the following groups:`

* Arithmetic operators

* Assignment operators

* Comparison operators

* Logical operators

* Identity operators

* Membership operators

* Bitwise operators

#### Python Arithmetic Operators


Arithmetic operators are used with numeric values to perform common mathematical operations:


Operator ----	Name	----------- Example	

* ` +	`  --------Addition	---------x + y	

* ` -	`  --------Subtraction	-----x - y	

* ` *	`  --------Multiplication----x * y	

* ` /	`  --------Division	---------x / y	

* ` %	`  --------Modulus	---------x % y	

* ` **`  --------  Exponentiation----x ** y	

* ` //`  --------  Floor division---x // y

In [2]:
# Addition + 

x = 5
y = 3

print(x + y)

8

In [3]:
# Subtraction - 
x = 5
y = 3

print(x - y)

2

In [4]:
# Multiplication * 

x = 5
y = 3

print(x * y)

15

In [5]:
# Division /
x = 12
y = 3

print(x / y)

4.0

In [8]:
# Modulus %
x = 5
y = 2

print(x % y)

1

In [9]:
#Exponentiation ** 
x = 2
y = 5

print(x ** y)

32

In [10]:
# Floor division
x = 15
y = 2

print(x // y)

7

#### Python Assignment Operators

Assignment operators are used to assign values to variables:

* Operator	----Example   ---- 	Same As	

*  `=`  ----	x = 5	--------x = 5	

* `+=`  ----	x += 3	--------x = x + 3	

* `-=`  ----	x -= 3	--------x = x - 3	

* `*=`  ----	x *= 3	--------x = x * 3	

* `/=`  ----	x /= 3	--------x = x / 3	

* `%=`  ----	x %= 3	--------x = x % 3	

* `//=`  ----	x //= 3	--------x = x // 3	

* `**=`  ----	x **= 3	--------x = x ** 3	

* `&=`  ----	x &= 3	--------x = x & 3	

* `|=`  ----	x |= 3	--------x = x | 3	

* `^=`  ----	x ^= 3	--------x = x ^ 3	

* `>>=`  ----	x >>= 3	--------x = x >> 3	

* `<<=`  ----	x <<= 3	--------x = x << 3

In [11]:
# =
x = 5 
print(x)

5

In [12]:
# +=

x = 5 
x += 3

print(x)

8

In [13]:
# -=

x = 5

x -= 3

print(x)

2

In [14]:
# *=

x = 5

x *= 3

print(x)

15

In [17]:
# /=

x = 5

x /=3
print(x)

1.6666666666666667

In [21]:
# /=

x = 5

x /=3
print(f"{x:.2f}")

1.67

In [23]:
# %= 

x = 5

x %= 3

print(x)

2

In [26]:
# //=

x = 5

x //= 3

print(x)

1

In [27]:
# **=

x = 5

x **= 2

print(x)

25

In [28]:
x = 5

x &= 3

print(x)

1

In [29]:
x = 5

x |= 3

print(x)

7

In [30]:
x = 5

x ^= 3

print(x)

6

In [31]:
x = 5

x >>= 3

print(x)

0

In [32]:
x = 5

x <<= 3

print(x)

40

#### Python Comparison Operators
Comparison operators are used to compare two values:

* Operator     ------   Name   -----	Example	

* ` == `       ------   	Equal           	`x == y	`

* `!=`         ------  	Not equal           	`x != y`	

* `>`          ------ 	Greater than           	`x > y`

* `<`          ------ 	Less than	           `x < y`

* `>=`         ------  	Greater than or equal to           	`x >= y`	

* `<=`	       ------     Less than or equal to           	`x <= y`

In [1]:
x = 5
y = 3

print(x == y)

False

In [2]:
x = 5
y = 3

print(x != y)

True

In [3]:
x = 5
y = 3

print(x > y)

True

In [4]:
x = 5
y = 3

print(x < y)

False

In [5]:
x = 5
y = 3

print(x >= y)

True

In [6]:
x = 5
y = 3

print(x > = y)

# note - there shuold be no gap between both
# the operator

SyntaxError: invalid syntax (Temp/ipykernel_9468/1089784682.py, line 4)

In [7]:
x = 5
y = 3

print(x <= y)

False

#### Python Logical Operators
Logical operators are used to combine conditional statements:

* `and `	Returns True if both statements are true	x < 5 and  x < 10	

* `or`	Returns True if one of the statements is true	x < 5 or x < 4	

* `not`	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [8]:
x = 5
print(x> 3 and x<10)

True

In [9]:
x = 5

print(x> 4 or x<4)

True

In [10]:
x = 5
print(not(x>3 and x < 10))
# returns False because not is used to
# reverse the result

False

In [11]:
x = 3

print(not(x>2 and x<20))

False

#### Python Identity Operators


Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

`is` 	----Returns True if both variables are the same object	x is y	


`is not`	----Returns True if both variables are not the same object

In [12]:
x = ["apple", "banana"]
y = ["apple", "banana"]

z = x
print(x is z)

True

 returns True because z is the same object as x

In [13]:
print(x is y)

False

returns False because x is not the same object as y, even if they have the same content

In [14]:
print(x == y)

True

to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

In [1]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

#### Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

* `in `	Returns True if a sequence with the specified value is present in the object	x in y


* `not in`	Returns True if a sequence with the specified value is not present in the object	x not in y

In [15]:
x = ["apple", "banana"]

print("banana" in x)

True

returns True because a sequence with the value "banana" is in the list

In [16]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

returns True because a sequence with the value "pineapple" is not in the list

#### Python Bitwise Operators

Bitwise operators are used to compare (binary) numbers:

Operator	Name	 Description

* &     ---AND	 ------Sets each bit to 1 if both bits are 1

* |     ---   OR------  Sets each bit to 1 if one of two bits is 1

* ^    ---XOR	 ------Sets each bit to 1 if only one of two bits is 1
 
* ~     ---NOT	 ------Inverts all the bits

* `<<  Zero fill left shift ` 	Shift left by pushing zeros in from the right and let the leftmost bits fall off

* ` >>	Signed right shift`	   Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off