#### Set
`Sets `are used to store multiple items in a single variable.

`Set` is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

`A set is a collection which is unordered, unchangeable*, and unindexed.`

* `Note:` Set items are unchangeable, but you can remove items and add new items.

* `Sets are written with curly brackets`.

In [1]:
myset = {"apple", "banana", "cherry"}

In [2]:
type(myset)

set

In [3]:
print(myset)

{'cherry', 'banana', 'apple'}

**Note:** Sets are unordered, so you cannot be sure in which order the items will appear.

* `Set Items`
Set items are unordered, unchangeable, and do not allow duplicate values.

* `Unordered`
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

* `Unchangeable`
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

* `Duplicates Not Allowed`
Sets cannot have two items with the same value.

In [5]:
thisset = {"apple","banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

As we can see that there is no duplicates allowed

####  Get the Length of a Set
To determine how many items a set has, use the `len()` function.

In [6]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

#### Data Types
Set items can be any data types

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(type(set1))
print(type(set2))
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

A set can contain different data types:

In [8]:
set1 = {"abc", 34, True, 40, "Male"}

print(type(set1))

<class 'set'>

#### The set() Constructor
It is also possible to use the `set()` constructor to make a set.

In [9]:
thisset = set(("apple", "banana", "cherry"))
# note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

In [10]:
thisset = set({"apple", "banana", "cherry"})

print(thisset)

# we can make set by using set constructor on set as well

{'cherry', 'banana', 'apple'}

In [4]:
thisset = set(["apple", "banana", "cherry"])

print(thisset)

{'cherry', 'banana', 'apple'}

In [5]:
thisset = set({1:"apple", 2:"banana", 3:"cherry"})

print(thisset)

{1, 2, 3}

In [6]:
thisset = set({1:"apple", 2:"banana", 3:"cherry"}.values())

print(thisset)

{'cherry', 'banana', 'apple'}

In [7]:
thisset = set({1:"apple", 2:"banana", 3:"cherry"}.keys())

print(thisset)

{1, 2, 3}

In [8]:
thisset = set({1:"apple", 2:"banana", 3:"cherry"}.items())

print(thisset)

{(3, 'cherry'), (1, 'apple'), (2, 'banana')}

#### Python Collections (Arrays)
There are four collection data types in the Python programming language:

* `List` is a collection which is ordered and changeable. Allows duplicate members.

* `Tuple` is a collection which is ordered and unchangeable. Allows duplicate members.

* `Set` is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

* `Dictionary` is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove items and add new items.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

#### Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a `for` loop, or ask if a specified value is present in a set, by using the `in` keyword.

In [10]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
cherry
apple

In [11]:
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

#### Change Items
Once a set is created, you cannot change its items, but you can add new items.

#### Add Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the `add()` method.

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")
print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [13]:
thisset.add("mango")
print(thisset)

{'cherry', 'banana', 'apple', 'orange', 'mango'}

In [11]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange", "mango")
print(thisset)

TypeError: set.add() takes exactly one argument (2 given)

Add() method can take only one argument.

#### Add Sets
To add items from another set into the current set, use the `update()` method.

In [12]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'papaya', 'banana', 'pineapple', 'mango', 'apple'}

In [13]:
thisset.update(("grape", "guawa"))
print(thisset)

{'cherry', 'papaya', 'banana', 'pineapple', 'mango', 'grape', 'apple', 'guawa'}

#### Add Any Iterable
The object in the `update()` method does not have to be a set, it can be any iterable object `(tuples, lists, dictionaries etc.)`.

In [18]:
# adding list into a set by update method
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)
print(thisset)

{'cherry', 'banana', 'kiwi', 'apple', 'orange'}

In [17]:
# adding tuple into set by update method
thisset = {"apple", "banana", "cherry"}
mylist = ("kiwi", "orange")

thisset.update(mylist)
print(thisset)

{'cherry', 'banana', 'kiwi', 'apple', 'orange'}

In [19]:
# adding dictionary into a set by update method

thisset = {"apple", "banana", "cherry"}
mylist = {1:"kiwi", 2:"orange"}

thisset.update(mylist)
print(thisset)

{1, 'cherry', 2, 'banana', 'apple'}

In [20]:
# this time adding value of a dictionary into a set using updade method

thisset = {"apple", "banana", "cherry"}
mylist = {1:"kiwi",2:"orange"}

thisset.update(mylist.values())
print(thisset)

{'cherry', 'banana', 'kiwi', 'apple', 'orange'}

As we can see that we added value from a dictionary key-value pair.

In [21]:
# this time we will add key and value from a dictionary to set by update method.

thisset = {"apple", "banana", "cherry"}
mylist = {1:"kiwi",2:"orange"}

thisset.update(mylist.items())
print(thisset)

{'cherry', 'banana', 'apple', (2, 'orange'), (1, 'kiwi')}

As we can see that we have successfully added key and value pair to the set.

#### Remove Item
To remove an item in a set, use the `remove()`, or the `discard()` method.

* This method change the original set and return nothing while changing the set.

`Example`
Remove "banana" by using the `remove()` method:

In [24]:
thisset = {"apple", "banana", "cherry"}

new = thisset.remove("banana")

print(thisset)
print()
print("Return value : ", new)

{'cherry', 'apple'}

Return value :  None

`Note:` If the item to remove does not exist, remove() will raise an error.

In [25]:
thisset.remove("mango")
print(thisset)

KeyError: 'mango'

#### discard()

`Note:` If the item to remove does not exist, discard() will NOT raise an error.
* This method change the original set and return nothing while changing the set.

In [14]:
# discards()

thisset = {"apple", "banana", "cherry"}

new  = thisset.discard("banana")
print(thisset)
print()
print("Return value : ", new)

{'cherry', 'apple'}

Return value :  None

`Note:` If the item to remove does not exist, discard() will NOT raise an error.

In [15]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("mango") # "mango" is not the set 'thislist'
print(thisset)

{'cherry', 'banana', 'apple'}

As we can see that there was no "mango" despite that discard method didn't raise an error this is the difference between remove and discard

#### pop()
You can also use the `pop()` method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the `pop()` method is the removed item.

`Example`
Remove the last item by using the `pop()` method:

In [39]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print("Return popped value : ", x)
print(thisset)

Return popped value :  cherry
{'banana', 'apple'}

In [38]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop("apple")

print("Return popped value : ", x)
print(thisset)

TypeError: set.pop() takes no arguments (1 given)

`Note:` Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

#### clear()

`Example`

The `clear()` method empties the set:
* This method change the original set and return nothing while changing the set.

In [31]:
thisset = {"apple", "banana", "cherry"}

new = thisset.clear()

print(thisset)
print()
print("Return value : ", new)

set()

Return value :  None

#### del

the `del` keyword will delete the set completely

In [23]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

#### Loop Items
You can loop through the set items by using a for loop:

In [24]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
banana
apple

### Join Two Sets
There are several ways to join two or more sets in Python.

You can use the `union()` method that returns a new set containing all items from both sets, or the `update()` method that inserts all the items from one set into another:

In [18]:
# Union()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'c', 'a'}

In [19]:
set1 | set2

{1, 2, 3, 'a', 'b', 'c'}

In [20]:
# update()

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'c', 'a'}

`Note:` Both `union()` and `update()` will exclude any duplicate items.

In [28]:
set1 = {"a","b","c"}
set2 = {"a", 1,2,3}
set1.update(set2)

print(set1)

{1, 2, 'c', 'a', 3, 'b'}

#### Intersection_update    (only common item will be updated )
The `intersection_update()` method will keep only the items that are present in both sets.

In [21]:
# Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y) # this method only change original set doen't retrun any value.

print(x)

{'apple'}

The `intersection()` method will return a new set, that only contains the items that are present in both sets.

In [22]:
x = {"apple", "banana", "cherry", "apple"}
y = {"google","apple",  "microsoft", "apple"}

z = x.intersection(y) # this method return a new set of common value between bothof them.

print(z)

{'apple'}

#### Keep All, But NOT the Duplicates
The `symmetric_difference_update()` method will keep only the elements that are NOT present in both sets.

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) # this method only change original set doen't retrun any value.

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

The `symmetric_difference()` method will return a new set, that contains only the elements that are NOT present in both sets.

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) # return new set in which element are not common  

print(z)

{'microsoft', 'cherry', 'google', 'banana'}

#### Set Methods

#### difference()

The `difference()` method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

`Syntax`

`set.difference(set)`

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) # The returned set contains items that exist only in the first set, 
                    # and not in both sets

print(z)

{'banana', 'cherry'}

In [33]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'microsoft', 'google'}

#### difference_update()

The `difference_update()` method removes the items that exist in both sets.

The `difference_update()` method is different from the `difference(`) method, because the `difference()` method returns a new set, without the unwanted items, and the `difference_update()` method removes the unwanted items from the original set.

`Syntax`

`set.difference_update(set)`

In [34]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [25]:
x | y

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = {"a","b","z"}

x | y | z

{'a', 'apple', 'b', 'banana', 'cherry', 'google', 'microsoft', 'z'}

In [27]:
x = ["apple", "banana", "cherry"]
y = ["google", "microsoft", "apple"]

x|y

TypeError: unsupported operand type(s) for |: 'list' and 'list'

In [31]:
x = ("apple", "banana", "cherry")
y = ("google", "microsoft", "apple")

x | y

TypeError: unsupported operand type(s) for |: 'tuple' and 'tuple'

We can see that we can't do this with list and tuple it will be used in set and dictionary only.

#### copy()

The `copy()` method copies the set.

`Syntax`

`set.copy()`

In [32]:
#### Copy the fruits set:

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'banana', 'apple'}

In [33]:
x.add("mango")

print(fruits)
print(x)

{'cherry', 'banana', 'apple'}
{'cherry', 'mango', 'banana', 'apple'}

#### isdisjoint()

The `isdisjoint()` method returns True if none of the items are present in both sets, otherwise it returns False.
* Or in simple way we can say that it will return True if there is no common items between both the sets.

`Syntax`

`set.isdisjoint(set)`

In [34]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [35]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

#### issubset()

The `issubset()` method returns True if all items in the set exists in the specified set, otherwise it retuns False.

`Syntax`

`set.issubset(set)`

In [39]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [37]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}
# this time we remove 'a' from set 'y' means set 'x' is not completely exist in set 'y'.
z = x.issubset(y)

print(z)

False

#### issuperset()

The `issuperset()` method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

`Syntax`

`set.issuperset(set)`

In [41]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [42]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

Thank You 👍