### Lists

#### Python Collections (Arrays)
There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.

* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

* **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

#### List
Lists are used to store multiple items in a single variable.

Lists are `one of 4 built-in data types in Python used to store collections of data`, the other 3 are `Tuple`, `Set`, and `Dictionary`, all with different qualities and usage.

Lists are created using square brackets:

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [2]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [3]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [4]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [5]:
lst = []
print(bool(lst))

print()
print(type(lst))

False

<class 'list'>

Means at least there should be one value in that to return True value.

In [7]:
lst = [" "]
print(bool(lst))

True

#### `List Items`
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

#### `Ordered`
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

**Note:** There are some list methods that will change the order, but in general: the order of the items will not change.

#### `Changeable`
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

#### `Allow Duplicates`
Since lists are indexed, lists can have items with the same value:

In [10]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

#### `List Length`
To determine how many items a list has, use the `len()` function:

In [6]:
len("string")

6

In [7]:
len(1233)

TypeError: object of type 'int' has no len()

In [8]:
len("123")

3

In [11]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

#### `List Items - Data Types`

List items can be of any data type:

In [12]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]


print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

#### `type()`
From Python's perspective, lists are defined as objects with the data type` 'list'`:

In [13]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

### The list() Constructor
It is also possible to use the `list()` constructor when creating a new list.

In [9]:
tuple1 = ("Apple", "Banana", "Cherry")

mylist = list(tuple1)
mylist

['Apple', 'Banana', 'Cherry']

In [14]:
thislist = list(("Apple", "Banana", "Cherry"))

# note the double round paranthesis
print(thislist)

['Apple', 'Banana', 'Cherry']

In [15]:
newlist = list(("apple", "banana"))
print(newlist)

['apple', 'banana']

In [16]:
lst = list({1,2,3,4})
lst

[1, 2, 3, 4]

In [17]:
lst = list({1:"Hello",2:"world"})
lst

[1, 2]

In [18]:
dict1 = {1:"Hello",2:"world"}
lst = list(dict1)
lst

[1, 2]

In [19]:
dict1 = {1:"Hello",2:"world"}
lst = list(dict1.keys())
lst

[1, 2]

In [20]:
dict1 = {1:"Hello",2:"world"}
lst = list(dict1.values())
lst

['Hello', 'world']

In [21]:
dict1 = {1:"Hello",2:"world"}
lst = list(dict1.items())
lst

[(1, 'Hello'), (2, 'world')]

In [10]:
dict1 = {1:"Hello",2:"world"}
dict1.items()

dict_items([(1, 'Hello'), (2, 'world')])

In [22]:
lst = list("hello")
lst

['h', 'e', 'l', 'l', 'o']

In [23]:
str1 = "Welcome to Python Programming world"

lst = list(str1)
lst

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'P',
 'r',
 'o',
 'g',
 'r',
 'a',
 'm',
 'm',
 'i',
 'n',
 'g',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd']

In [29]:
str1 = "hello"
print(*str1)

h e l l o

### `Access Items`
List items are indexed and you can access them by referring to the `index number`:

In [24]:
# Access Items

thislist = list(("Apple", "Banana", "Cherry"))

print(thislist[0])

Apple

In [25]:
print(thislist[1])

Banana

**Note:** The first item has` index 0`.

Negative Indexing
Negative indexing means start from the end

`-1` refers to the last item, `-2` refers to the second last item etc.

In [26]:
thislist = list(("Apple", "Banana", "Cherry"))
print(thislist[-1])

Cherry

In [27]:
thislist = ["apple", "banana",  "cherry"]
print(thislist[-2])

banana

#### Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

**Note:** The search will start at `index 2` (included) and end at `index 5` (not included).

Remember that the first item has `index 0`.

By leaving out the start value, the range will start at the first item:

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [30]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [31]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [32]:
print(thislist[-2:-4])
# it must be return nothing (empty list) because this is not a valid range

[]

#### Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

In [13]:
thislist = list(("apple", "banana", "cherry"))
thislist

['apple', 'banana', 'cherry']

In [33]:
thislist = ['apple', 'banana', 'cherry']
if "apple" in thislist:
    print("Yes, 'apple' is in the fruit list")

Yes, 'apple' is in the fruit list

### Change List Items

To change the value of a specific item, refer to the index number:

In [34]:
thislist = ["apple", "banana", "cherry"]

In [35]:
thislist[1] = "blakcurrant"

In [36]:
print(thislist)

['apple', 'blakcurrant', 'cherry']

#### Change a Range of Item Values

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [37]:
# Change a Range of Item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [38]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

# Note: The length of the list will change 
# when the number of items inserted does not
# match the number of items replaced.

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [39]:
# before adding len of the list was 3 but now let's see
print(len(thislist))

4

In [40]:
# If you insert less items than you replace,
# the new items will be inserted where you 
# specified, and the remaining items will 
# move accordingly:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [41]:
thislist = ["apple", "banana", "cherry", "mango", "watermelon"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'mango', 'watermelon']

As we can see that we wanted to replace 1:3 means "banana" and " cherry" but we gave only one item so that two places will be taken by only one and rest all move accordingly

In [42]:
# Means we can append new element into the list without 'append()' and remove element from the 
# list without 'pop()' method 


thislist = ["apple", "banana", "cherry", "mango"]
thislist[1:3] = ["banana"] # now here cherry will be removed because we assign less element than
print(thislist)                      # the selected range.

['apple', 'banana', 'mango']

In [43]:
# this time we will add some new element to the list without using 'append()' method

thislist = ["apple", "banana", "mango"]
thislist[1:2] = ["banana", "cherry"] # we have assigned more element than the seleced range.

print(thislist)

['apple', 'banana', 'cherry', 'mango']

### Insert Items

To insert a new list item, without replacing any of the existing values, we can use the `insert()` method.

* The `insert()` method inserts an item at the specified index:
* This method change the original list and return nothing while changing the list.

In [45]:
thislist = ["apple", "banana", "cherry"]
return_val =  thislist.insert(2, "watermelon")
print("After insert thislist : ", thislist)
print()
print("Return value : ", return_val)

After insert thislist :  ['apple', 'banana', 'watermelon', 'cherry']

Return value :  None

* This method change the original list and return nothing while changing the list.

In [46]:
thislist.insert(0, "mango")
print(thislist)

['mango', 'apple', 'banana', 'watermelon', 'cherry']

In [47]:
# let's try to insert another list 
thislist = ["apple", "banana", "cherry"]
new_list = ["mango", "watermelon"]

# insert new_list into thislist

thislist.insert(1, new_list)
print(thislist)

# means we can insert a list into another lis using 'insert' method

['apple', ['mango', 'watermelon'], 'banana', 'cherry']

In [48]:
# insert tuple
thislist = ["apple", "banana", "cherry"]
tuple1 = ("mango", "watermelon")
thislist.insert(1, tuple1)
print(thislist)

['apple', ('mango', 'watermelon'), 'banana', 'cherry']

In [49]:
# insert dictionary 
thislist = ["apple", "banana", "cherry"]
dict1 = {1:"mango", 2:"watermelon"}
thislist.insert(1, dict1)

print(thislist)

['apple', {1: 'mango', 2: 'watermelon'}, 'banana', 'cherry']

In [50]:
# we can use .key(), .values, and .items() to insert dict 
 
thislist = ["apple", "banana", "cherry"]
dict1 = {1:"mango", 2:"watermelon"}
thislist.insert(1, dict1.keys())
print(thislist)

['apple', dict_keys([1, 2]), 'banana', 'cherry']

In [55]:
thislist = ["apple", "banana", "cherry"]
dict1 = {1:"mango", 2:"watermelon"}
thislist.insert(1, dict1.values())
print(thislist)

['apple', dict_values(['mango', 'watermelon']), 'banana', 'cherry']

In [51]:
thislist = ["apple", "banana", "cherry"]
dict1 = {1:"mango", 2:"watermelon"}
thislist.insert(1, dict1.items())
print(thislist)

['apple', dict_items([(1, 'mango'), (2, 'watermelon')]), 'banana', 'cherry']

In [1]:
# if given index number is greater than len of the list then it will insert element at the end of the list
lst = ["banana", 'apple']
lst.insert(5, "mango")

In [2]:
lst

['banana', 'apple', 'mango']

### `Add List Items`


#### Append Items
To add an item to the end of the list, use the `append()` method:
* This method change the original list and return nothing while changing the list.

In [52]:
# Append
thislist = ["apple", "banana", "cherry"]
new_thislist = thislist.append("orange")
print("After appending the list : ", thislist)
print()
print("Retrun value : ", new_thislist)

After appending the list :  ['apple', 'banana', 'cherry', 'orange']

Retrun value :  None

* This method change the original list and return nothing while changing the list.

In [6]:
thislist = ["apple", "banana", "cherry"]
lst = ["mango", "grape"]

thislist.append(lst)

In [7]:
thislist

['apple', 'banana', 'cherry', ['mango', 'grape']]

In [55]:
thislist = ["apple", "banana", "cherry"]
lst = ["mango", "grape"]

thislist.append(*lst)

TypeError: list.append() takes exactly one argument (2 given)

Means 'append' method will take only one arguments.

In [53]:
# if we want to add an item in list at a
# specific place then we should use 'insert'
# method to add the item

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")

print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [58]:
thislist = ["apple", "banana", "cherry"]
lst = ["mango", "grape"]

thislist.insert(0,lst)
thislist

[['mango', 'grape'], 'apple', 'banana', 'cherry']

#### Extend List

To append elements from another list to the current list, use the `extend()` method.

* This method change the original list and return nothing while changing the list.

##### note:
`by extend method another list will be extened as a normal list item not as a nested list`

In [54]:
# To append elements from another list to
# the current list, use the extend() method.

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

new = thislist.extend(tropical)
# now let's see 
print("After extend the original list:\n",thislist)
print()
print("Retrun value : ", new)

After extend the original list:
 ['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Retrun value :  None

* This method change the original list and return nothing while changing the list.

In [61]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)
thislist

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [41]:
# As we can see that we have sucessfully
# added a list into another list

In [43]:
# dict extended in the list
thislist = ["apple", "banana", "cherry"]
dict1 = {1:"mango", 2:"watermelon"}
thislist.extend(dict1)

print(thislist)

['apple', 'banana', 'cherry', 1, 2]

In [44]:
# we can extend a list with dictionay value by using .values()
thislist = ["apple", "banana", "cherry"]
dict1 = {1:"mango", 2:"watermelon"}
thislist.extend(dict1.values())

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'watermelon']

In [45]:
thislist = ["apple", "banana", "cherry"]
dict1 = {1:"mango", 2:"watermelon"}
thislist.extend(dict1.keys())

print(thislist)

['apple', 'banana', 'cherry', 1, 2]

In [46]:
# note - when we extend list through .items of a dict then list will be extended with key and value
#        in the forms of Tuple 
thislist = ["apple", "banana", "cherry"]
dict1 = {1:"mango", 2:"watermelon"}
thislist.extend(dict1.items())

print(thislist)

['apple', 'banana', 'cherry', (1, 'mango'), (2, 'watermelon')]

In [47]:
thislist = ["apple", "banana", "cherry"]
tropical = ("mango", "pineapple", "papaya")

thislist.extend(tropical) # tropical is a 'Tuple' here
# now let's see 
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [48]:
thislist = ["apple", "banana", "cherry"]
tropical = ("mango", "pineapple", "papaya")

thislist.extend(tropical) # tropical is a 'Set' here
# now let's see 
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

#### Add Any Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [30]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)
print(thislist) # when we extended tuple it converted as an part of list not as a tuple

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.extend(thislist)
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

### Remove List Items

#### Remove Specified Item
The `remove()` method removes the specified item.
* This method change the original list and return nothing while changing the list.

In [62]:
# remove method
thislist = ["apple", "banana", "cherry"]
rem = thislist.remove("banana")
print("After removed method : ",thislist)
print("Retrun value : ", rem)

After removed method :  ['apple', 'cherry']
Retrun value :  None

In [1]:
new = ["apple", "banana", "cherry"].remove("banana")
new
# will nothing because this method return nothing

In [66]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
thislist

['banana', 'cherry']

#### Remove Specified Index
The `pop()` method removes the specified index.
* This method change the original list and return popped item while changing the list.

In [1]:
# Remove specific Index

thislist = ["apple", "banana", "cherry"]
popped_item = thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [2]:
popped_item

'banana'

In [52]:
thislist = ["apple", "banana", "cherry"]
thislist.pop() # pop method remove last item
print(thislist) # if index not provided

['apple', 'banana']

#### del 
The `del` keyword also removes the specified `index`.
and if we will not mention index number in that then it will delete list `permanently.

In [68]:
# 'del' keyword also removes the specific index

thislist = ["apple", "banana", "cherry"]
del thislist[0]

In [69]:
# 'del' keyword also removes the specific index

thislist = ["apple", "banana", "cherry"]
new = del thislist[0]
print(thislist)
print()
print("Return value : ",new)

SyntaxError: invalid syntax (2204495038.py, line 4)

In [70]:
# The del keyword can also delete the list 
# completely.

thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

#### Clear the List
The `clear()` method empties the list.

The list still remains, but it has no content.
* This method change the original list and return nothing while changing the list.

In [72]:
# The clear() method empties the list.

# The list structure is still remains, but it has no content.

thislist = ["apple", "banana", "cherry"]
new = thislist.clear()
print(thislist)
print("Return value : ", new)

[]
Return value :  None

* This method change the original list and return nothing while changing the list.

In [58]:
# note : it doesn't takes any arguments 
thislist = ["apple", "banana", "cherry"]
thislist.clear("banana")
print(thislist)

TypeError: list.clear() takes no arguments (1 given)

### Loop Lists

#### Loop Through a List
You can loop through the list items by using a `for loop`:

In [59]:
thislist = ["apple", "banana", "cherry"]

for x in thislist:
    print(x)

apple
banana
cherry

In [60]:
thislist = ["apple", "banana", "cherry"]

for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

#### Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the `range()` and `len()` functions to create a suitable iterable.

In [61]:
thislist = ["apple", "banana", "cherry"]

for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

### using a While Loop 

You can loop through the list items by using a `while` loop

Use the `len()` function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [62]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [8]:
# another way of using while loop

thislist = ["apple", "banana", "cherry"]

while thislist:
    print(thislist[0])
    thislist = thislist[1:]

apple
banana
cherry

In [152]:
# another way 
thislist = ["apple", "banana", "cherry"]

while thislist:
    item = thislist.pop(0)
    print(item)

apple
banana
cherry

In [9]:
# transfering data from one list to another list 
thislist = ["apple", "banana", "cherry"]

newList = []

while thislist:
    item = thislist.pop(0)
    newList.append(item)
    
print("List after transfering the data : ", thislist)
print("New list : ",newList)

List after transfering the data :  []
New list :  ['apple', 'banana', 'cherry']

In [10]:
# transfering data from one list to another list in reverse order
thislist = ["apple", "banana", "cherry"]

newList = []

while thislist:
    item = thislist.pop()
    newList.append(item)
    
print("List after transfering the data : ", thislist)
print("New list : ",newList)

List after transfering the data :  []
New list :  ['cherry', 'banana', 'apple']

#### Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

In [73]:
# Looping Using List Comprehension 
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [3]:
# Looping Using List Comprehension 
thislist = ["apple", "banana", "cherry"]
[print(x, end = ", ") for x in thislist]

apple, banana, cherry,

[None, None, None]

In [21]:
thislist = ["apple", "banana", "cherry"]
[x for x in thislist]

['apple', 'banana', 'cherry']

### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter `"a"` in the name.

Without list comprehension you will have to write a `for` statement with a conditional test inside:

In [74]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a"in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [77]:
# by this method new list will contain only fruits which name will start by letter 'a'.

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if x[0].lower() == "a":
        newlist.append(x)

print(newlist)

['apple']

#### The Syntax

`newlist = [expression for item in iterable if condition == True]`

The return value is a new list, leaving the old list unchanged.

#### Condition
The condition is like a filter that only accepts the items that valuate to True.

In [78]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x!= "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [79]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [80]:
#newlist = [expression for item in iterable if condition == True]

In [81]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [83]:
newlist = [x for x in fruits if x != "apple" and  "banana"]
print(newlist)
# we need to use assignment with both the conditional values

['banana', 'cherry', 'kiwi', 'mango']

In [84]:
newlist = [x for x in fruits if x != "apple" and x != "banana"]
print(newlist)
# this time it will work fine

['cherry', 'kiwi', 'mango']

### Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

In [85]:
newlist = [x for x in range(10)]

In [86]:
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
newlist = [x for x in range(10) if x <5]
newlist

[0, 1, 2, 3, 4]

#### Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [88]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [89]:
# You can set the outcome to whatever you like:

newlist = ["hello" for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

In [90]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [91]:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x!= "banana" else "orange" for x in fruits]
newlist
# "Return the item if it is not banana,
# if it is banana return orange".

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [62]:
# in above code we got "orange" wherever "banana" was

In [64]:
a = "Hello world!"
[x if x !="H" else "h" for x in a]

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [12]:
a = "Kartik"
new = [x if x=="K" else "$" for x in a]
"".join(new)

'K$$$$$'

In [15]:
# if we have name in lower order then first we need to capitalise it and the apply the above 
# algorithm on this

a = "kartik"
new = [x if x == "K" else "$" for x in a.capitalize()]
"".join(new)

'K$$$$$'

In [4]:
a = "kartik"
new = [x if x in ["K", "t"] else "$" for x in a.capitalize()]
"".join(new)

'K$$t$$'

In [14]:
a = "Kartik"
a.replace("Kartik" , "k$$$$$")

'k$$$$$'

In [4]:
[x for x in range(1, 16) if x%2!= 0]

[1, 3, 5, 7, 9, 11, 13, 15]

In [92]:
[x if x%2!= 0 else "even" for x in range(1, 16)]

[1,
 'even',
 3,
 'even',
 5,
 'even',
 7,
 'even',
 9,
 'even',
 11,
 'even',
 13,
 'even',
 15]

In [73]:
[x if x%2 == 0 else "Odd" for x in range(1, 16)]

['Odd',
 2,
 'Odd',
 4,
 'Odd',
 6,
 'Odd',
 8,
 'Odd',
 10,
 'Odd',
 12,
 'Odd',
 14,
 'Odd']

### Sort Lists


#### Sort List Alphanumerically

List objects have a `sort()` method that will sort the list `alphanumerically, ascending,` by default:

* This method change the original list and return nothing while changing the list.

In [1]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [2]:
thislist = [100, 50, 65, 82, 23]
new = thislist.sort()
print(thislist)
print()
print("Return value : ", new)

[23, 50, 65, 82, 100]

Return value :  None

* This method change the original list and return nothing while changing the list.

**note:** sort method not supported between instances of `'int'` and `'str'`

In [3]:
thislist = ["apple", "banana", "mango", 12, 3, 4]
thislist.sort()
print(thislist)

TypeError: '<' not supported between instances of 'int' and 'str'

In [4]:
thislist = ["apple", "banana", "mango", 12, 3, 4]

sorted(thislist)

TypeError: '<' not supported between instances of 'int' and 'str'

In [5]:
thislist = ["apple", "banana", "mango", 12, 3, 4]

sorted(thislist, key = lambda x : str(x))

[12, 3, 4, 'apple', 'banana', 'mango']

#### Sort Descending
To sort descending, use the keyword argument reverse = True:

In [6]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [9]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [10]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [11]:
# Note : here list items are case sensitive 

thislist = ["orange", "Mango", "Kiwi", "pineapple", "banana"]

thislist.sort(reverse=True)
print(thislist)

# this list has been sorted as per Case-Sensitive letter

['pineapple', 'orange', 'banana', 'Mango', 'Kiwi']

In [12]:
thislist = ["orange", "Mango", "Kiwi", "pineapple", "banana"]
thislist.sort()
thislist

['Kiwi', 'Mango', 'banana', 'orange', 'pineapple']

#### To avoid case-sensitive we need to use key = 'str.lower' or 'str.upper'.

In [4]:
thislist = ["orange", "Mango", "Kiwi", "pineapple", "banana"]

thislist.sort(key=str.lower)
thislist

['banana', 'Kiwi', 'Mango', 'orange', 'pineapple']

In [5]:
# Note : here list items are case sensitive 

thislist = ["orange", "Mango", "Kiwi", "pineapple", "banana"]

thislist.sort(key=str.lower, reverse=True)
print(thislist)

['pineapple', 'orange', 'Mango', 'Kiwi', 'banana']

#### Sorted method

temporary sort method, which sort the items inside list , tuple temporarily.
* This method doesn't change the original list just return temporary sorted list.

In [93]:
thislist = ["orange", "mango", "banana"]

print("Temporarily sorted list: ", sorted(thislist))
print()
print("Normal list : ", thislist)

Temporarily sorted list:  ['banana', 'mango', 'orange']

Normal list :  ['orange', 'mango', 'banana']

In [15]:
thislist = ["orange", "mango", "banana"]
sorted(thislist)

['banana', 'mango', 'orange']

In [16]:
thislist = ["orange", "mango", "banana"]
sorted(thislist, reverse=True)

['orange', 'mango', 'banana']

In [17]:
# case sensitive list be careful while sorting the list
thislist = ["orange", "Mango","apple", "Banana",'grape']
sorted(thislist)

['Banana', 'Mango', 'apple', 'grape', 'orange']

In [18]:
# case sensitive list be careful while sorting the list
thislist = ["orange", "Mango","apple", "Banana",'grape']
sorted(thislist , key=str.lower)

# by 'key = lower' we can easily handle the case sensitive

['apple', 'Banana', 'grape', 'Mango', 'orange']

In [19]:
# case sensitive list be careful while sorting the list
thislist = ["orange", "Mango","apple", "Banana",'grape']
sorted(thislist , key=str.upper)

['apple', 'Banana', 'grape', 'Mango', 'orange']

In [3]:
# case sensitive list be careful while sorting the list
thislist = ['asds','asdfsf','Asa','sd','Dasdfeef']
sorted(thislist , key=len)

['sd', 'Asa', 'asds', 'asdfsf', 'Dasdfeef']

In [4]:
thislist = ['asds','asdfsf','Asa','sd','Dasdfeef']
sorted(thislist , key=len, reverse=True)

['Dasdfeef', 'asdfsf', 'asds', 'Asa', 'sd']

In [104]:
thislist = ["orange", "mango", "banana"]
new = sorted(thislist)
print("Original list : ", thislist)
print()
print("Sorted list return : ", new)

Original list :  ['orange', 'mango', 'banana']

Sorted list return :  ['banana', 'mango', 'orange']

In [105]:
thislist = [1,3,51,43,53,2,1]
sorted(thislist)

[1, 1, 2, 3, 43, 51, 53]

In [106]:
thislist = [1,3,51,43,53,2,1]
new_list = sorted(thislist) # we can asssign temporarily sorted list to a new variable
new_list

[1, 1, 2, 3, 43, 51, 53]

#### Customize Sort Function
You can also customize your own function by using the keyword argument `key = function.`

The function will return a number that will be used to sort the list (the lowest number first):

In [107]:
# Sort the list based on how close 
# the number is to 50:

def myfunc(n):
    
    return abs(n-50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key= myfunc) # note no need to add '()' along with function name 
print(thislist)

[50, 65, 23, 82, 100]

In [108]:
def myfunc(n):
    return abs(n-100)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key=myfunc) # note no need to add '()' along with function name 
print(thislist)

[100, 82, 65, 50, 23]

#### Case Insensitive Sort
By default the `sort()` method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [109]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [110]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key= str.lower) # built-in lower function 
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

#### Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The `reverse()` method reverses the current sorting order of the elements.

In [111]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.reverse()
print(thislist)

['banana', 'pineapple', 'kiwi', 'mango', 'orange']

In [112]:
thislist = [4,6,9,3,4,67,7,8]
thislist.reverse()
print(thislist)

[8, 7, 67, 4, 3, 9, 6, 4]

In [113]:
### Reverse Order :  it reverse item inside list doen't matter case sensitive
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [114]:
# it reverse item inside list
thislist = ["banana", "orange", "kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'kiwi', 'orange', 'banana']

In [6]:
lst = [1,2,3,"hello",'abd', 9]
lst.reverse()
print(lst)

[9, 'abd', 'hello', 3, 2, 1]

#### Note: 
As we can that reverse method on list works fine whether list have different data type while in case of sorting list must have only one data type.

### Copy a List

You cannot copy a list simply by typing `list2 = list1`, because: `list2` will only be a reference to `list1`, and changes made in `list1` will automatically also be made in `list2`.

There are ways to make a copy, one way is to use the built-in List method `copy()`.

In [115]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [116]:
mylist.append("mango")
print(thislist)
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango']

In [117]:
# Another way to make a copy is to use the
# built-in method list().  list constructor

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [118]:
# let's check by append item  in one of them and check effect on both 

mylist.append("mango")

print("mylist :", mylist)
print("thislist :", thislist)

mylist : ['apple', 'banana', 'cherry', 'mango']
thislist : ['apple', 'banana', 'cherry']

In [119]:
# we can use ':' for complete copy of any  list

thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [120]:

mylist.append("mango")
mylist

['apple', 'banana', 'cherry', 'mango']

In [121]:
thislist

['apple', 'banana', 'cherry']

### Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the `+` operator.

In [122]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [123]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list2 + list1
print(list3)

[1, 2, 3, 'a', 'b', 'c']

In [124]:
# another way of joining 
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the `extend()` method, which purpose is to add elements from one list to another list:

In [125]:
# By extend Method 
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### List Methods
Python has a set of built-in methods that you can use on lists.

Method	             Description

append()          --  Adds an element at the end of the list

clear()           -- 	Removes all the elements from the list

copy()	          --  Returns a copy of the list

count()	          --  Returns the number of elements with the specified value

extend()	      --  Add the elements of a list (or any iterable), to the end of the current list

index()	          --  Returns the index of the first element with the specified value

insert()	      --  Adds an element at the specified position

pop()	          --  Removes the element at the specified position

remove()	      --  Removes the item with the specified value

reverse()	      --  Reverses the order of the list

sort()          --	Sorts the list

In [126]:
# append()
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [127]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

print(a)
# when we append a complete list then 
# it make nested list

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [128]:
# clear()
# Remove all elements from the fruits list:
a = ["apple", "banana", "cherry"]
a.clear()
print(a)

[]

In [129]:
# copy()

# Copy the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [130]:
# count()

# Return the number of times the value 
# "cherry" appears in the fruits list:

fruits = ['apple', 'banana', 'cherry','mango']

x = fruits.count("cherry")
print(x)

1

In [131]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)
print(x)

2

In [132]:
# extend()

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

#### extend()

The `extend()` method adds the specified list elements (or any iterable) to the end of the current list.

`Syntax`

`list.extend(iterable)`

In [133]:
ruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', 'Ford', 'BMW', 'Volvo']

In [134]:
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

#### index()

The `index()` method returns the position at the first occurrence of the specified value.

* And return error if item not found in the list.

`Syntax`

`list.index(elmnt)`

In [135]:
# What is the position of the value "cherry":

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

`Note:` The index() method only returns the first occurrence of the value.

In [136]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)
print(x)

3

In [137]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)
print(x)

3

In [5]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(100)
print(x)

ValueError: 100 is not in list

In [6]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.find(100)
print(x)

AttributeError: 'list' object has no attribute 'find'

#### insert
The `insert()` method inserts the specified value at the specified position.

`Syntax`

`list.insert(pos, elmnt)`

In [138]:
#Insert the value "orange" as the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

#### pop()

The `pop()` method removes the element at the specified position.

`Syntax`

`list.pop(pos)`

In [139]:
#Remove the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

'banana'

In [140]:

fruits = ['apple', 'banana', 'cherry']

fruits.pop()

'cherry'

**note** when don't provide index number 
it pop last element of the list

#### Renove()

The `remove()` method removes the first occurrence of the element with the specified value.

`Syntax`

`list.remove(elment)`

In [141]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [142]:
fruits = ['apple', 'banana', 'cherry', "banana"]

fruits.remove("banana") # remove only first occurance
print(fruits)

['apple', 'cherry', 'banana']

In [143]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove(1)
print(fruits)

## it doesn't take index

ValueError: list.remove(x): x not in list

####  reverse()

The `reverse()` method reverses the sorting order of the elements.

`Syntax`

`list.reverse()`

In [144]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

#### list sort

The `sort()` method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

`Syntax`

`list.sort(reverse=True|False, key=myFunc)`



* `reverse`----	Optional. reverse=True will sort the list descending. Default is reverse=False

* `key`----	Optional. A function to specify the sorting criteria(s)

In [145]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [146]:
# A function that returns the length of
# the value:
# means sort by len value
def myFunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key= myFunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [147]:
# Sort a list of dictionaries based on the 
# "year" value of the dictionaries:

def myFunc(e):
    
    return e["year"]

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [7]:
cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=lambda x : x["year"])
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [135]:
# by car alphabet 
def myFunc(e):
    
    return e["car"]

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
print(cars)

[{'car': 'BMW', 'year': 2019}, {'car': 'Ford', 'year': 2005}, {'car': 'Mitsubishi', 'year': 2000}, {'car': 'VW', 'year': 2011}]

In [8]:
cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key= lambda x : x["car"])
print(cars)

[{'car': 'BMW', 'year': 2019}, {'car': 'Ford', 'year': 2005}, {'car': 'Mitsubishi', 'year': 2000}, {'car': 'VW', 'year': 2011}]

#### when reverse is True

In [136]:
# A function that returns the length of the value:
def myFunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)
print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [9]:
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=len)
print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [7]:
# A function that returns the length of the value:
# def myFunc(e):
#     return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=len) # without function just built-in key
print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [8]:
lst1 = ['apple', 'banana', 'cherry']
lst2 = [1,2,3,4]

lst1 | lst2

TypeError: unsupported operand type(s) for |: 'list' and 'list'

Thank you for having Patience