#### Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

* 1.---  Text             Type:	   `str`

* 2.---  Numeric          Types:     `int`, `float` ,`complex`

* 3.---  Sequence         Types:     `list`, `tuple`,` range`

* 4.---  Mapping          Type:	  ` dict`

* 5.--- Set              Types:    ` set`,` frozenset`

* 6.--- Boolean          Type:	  `bool`

* 7.--- Binary           Types:     `bytes` ,`bytearray`, `memoryview`

#### Getting the Data Type
You can get the data type of any object by using the `type()` function:

In [1]:
x = 5

print(type(x))

<class 'int'>

In [2]:
x = "Hello World!"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World!
<class 'str'>

In [3]:
x = 20
#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [4]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [5]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [6]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [7]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [8]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [11]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

In [12]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [13]:
x = b"Hello"
#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [14]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [15]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x00000157EDD84AC0>
<class 'memoryview'>

#### Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

In [16]:
x = str("Hello world!")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello world!
<class 'str'>

In [17]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [18]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [19]:
x = complex(1j) 
#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [20]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [21]:
x = tuple(("apple", "bannan", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'bannan', 'cherry')
<class 'tuple'>

In [22]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [23]:
x = dict(name = "john", age = 36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'john', 'age': 36}
<class 'dict'>

In [24]:
x = set(("apple", "banana", "cherry"))
#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [25]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [26]:
x = bool(5)
#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [27]:
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [28]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [29]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x00000157EDD84AC0>
<class 'memoryview'>