#### Python Dates
A date in Python is not a data type of its own, but we can import a module named `datetime` to work with dates as date objects.

In [1]:
import datetime

x = datetime.datetime.now()
print(x)

2022-06-06 14:42:26.731397

In [2]:
print(x.today())

2022-06-06 14:42:27.853427

In [3]:
print(x.ctime())

Mon Jun  6 14:42:26 2022

In [4]:
print(x.date())

2022-06-06

In [5]:
print(x.time())

14:42:26.731397

In [7]:
import datetime
x = datetime.datetime.now()

In [8]:
print(x.day)

20

In [11]:
print(x.strftime("%B"))

May

#### Date Output
When we execute the code from the example above the result will be:

`2022-03-22 13:53:39.576354`
The date contains year, month, day, hour, minute, second, and microsecond.

The `datetime` module has many methods to return information about the date object.

Here are a few examples, you will learn more about them later in this chapter:

In [3]:
import datetime

x = datetime.datetime.now()
print(x.year)
print(x.strftime("%A"))

2022
Tuesday

In [4]:
import datetime

x = datetime.datetime.now()
print(x.year)
print(x.month)
print(x.weekday())

2022
4
1

#### Creating Date Objects
To create a date, we can use the `datetime()` class (constructor) of the `datetime` module.

The `datetime()` class requires three parameters to create a date: year, month, day.

In [5]:
import datetime

x = datetime.datetime(2020, 5,17)

print(x)

2020-05-17 00:00:00

In [1]:
import datetime

x = datetime.date(2020, 5,17)

print(x)

2020-05-17

The `datetime()` class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of` 0`, (`None` for timezone).

#### The strftime() Method

The `datetime` object has a method for formatting date objects into readable strings.

The method is called `strftime()`, and takes one parameter, format, to specify the `format` of the returned string:

#### Example

Display the name of the month:

In [6]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [7]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%b"))

Jun

#### The strftime() Method

`strptime` is short for `"parse time"` where `strftime` is for `"formatting time"`. That is, strptime is the opposite of strftime though they use, conveniently, the same formatting specification. I've rarely seen strptime used since DateTime.parse is usually good at picking up on what's going on, but if you really need to spell it out, by all means use the legacy parser.

`%a   Weekday, short version---  Wed`

In [7]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%a"))

Mon

In [2]:
import datetime 
print(datetime.datetime.now().strftime("%A"))

Thursday

In [3]:
import datetime 
print(datetime.datetime.now().strftime("%B"))

July

In [6]:
import datetime 
print(datetime.datetime.now().strftime("%D"))

07/21/22

`%A	Weekday, full version	Wednesday`

In [8]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%A"))

Monday

`%w	Weekday as a number 0-6, 0 is Sunday	3`

In [9]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%w"))

1

In [8]:
import datetime
print(datetime.datetime.now().strftime("%w"))

4

In [9]:
import datetime
print(datetime.datetime.now().strftime("%W"))

29

In [ ]:
import datetime
print(datetime.datetime.now().strftime())

`%d	Day of month 01-31	31`

In [11]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%d"))

19

`%b	Month name, short version	Dec`

In [12]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%b"))

Apr

`%B	Month name, full version	December`

In [13]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%B"))

April

`%m	Month as a number 01-12	12`

In [14]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%m"))

04

`%y	Year, short version, without century	18`

In [15]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%y"))

22

`%Y	Year, full version	2018`

In [16]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%Y"))

2022

`%H	Hour 00-23	17`

In [17]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%H"))

16

`%I	Hour 00-12	05`

In [18]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%I"))

04

`%p	AM/PM	PM`

In [19]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%p"))

PM

`%M	Minute 00-59	41`

In [22]:
import datetime
 
x = datetime.datetime.now()

print(x.strftime("%M"))

27

`%S	Second 00-59	08`

In [24]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%S"))

55

`%f	Microsecond 000000-999999	548513`

In [25]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%f"))

795114

`%z	UTC offset	+0100`

In [26]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%z"))

`%Z	Timezone	CST`

In [27]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%Z"))

`%j	Day number of year 001-366	365`

In [10]:
import datetime
x = datetime.datetime.now()

print(x.strftime("%j"))

202

In [29]:
import datetime

x = datetime.datetime(2018, 6, 1) # can't add
                                 # 0 like 06
print(x.strftime("%j"))

152

`%U	Week number of year, Sunday as the first day of week, 00-53	52`

In [31]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%U"))

12

`%W	Week number of year, Monday as the first day of week, 00-53	52`

In [32]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%W"))

12

`%c	Local version of date and time	Mon Dec 31 17:41:00 2018`

In [33]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Tue Mar 22 14:41:55 2022

`%C	Century	20`

In [34]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%C"))

20

`%x	Local version of date	12/31/18`

In [35]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%x"))

03/22/22

`%X	Local version of time	17:41:00`

In [36]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%X"))

15:01:02

`%%	A % character	%`

In [37]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%%"))

%

`%G	ISO 8601 year	2018`

In [38]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%G"))

2022

`%u	ISO 8601 weekday (1-7)	1`

In [39]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%u"))

2

`%V	ISO 8601 weeknumber (01-53)	01`

In [40]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%V"))

12

In [1]:
import datetime

x = datetime.datetime(2022, 7, 14)
print(x)

2022-07-14 00:00:00

In [3]:
import datetime

x = datetime.datetime(2022, 7, 14)
print(x.date())

2022-07-14

In [5]:
print(x.ctime())

Thu Jul 14 00:00:00 2022

In [8]:
print(x.timestamp())

1657737000.0

In [10]:
print(x.fromtimestamp(12.2))

1970-01-01 05:30:12.200000

In [1]:
from datetime import date

d0 = date(2008, 8, 18)
d1 = date(2008, 9, 26)
delta = d1 - d0
print(delta.days)

39

In [3]:
delta.resolution

datetime.timedelta(microseconds=1)

In [16]:
import datetime
today = datetime.date.today()
someday = datetime.date(1989, 10, 2)
diff = today - someday
diff.days

11967

In [15]:
diff.resolution

datetime.timedelta(microseconds=1)

In [17]:
11967/30/12

33.24166666666667

In [1]:
import datetime

today = datetime.datetime.now()
print(today)

2022-07-20 17:27:35.892735

### Time

In [11]:
import time
seconds = time.time()
print("Seconds since epoch =", seconds)

Seconds since epoch = 1658380957.242097

In [12]:
import time

# seconds passed since epoch
seconds = 1545925769.9618232
local_time = time.ctime(seconds)
print("Local time:", local_time)

Local time: Thu Dec 27 21:19:29 2018

In [13]:
import time

print("This is printed immediately.")
time.sleep(2.4)
print("This is printed after 2.4 seconds.")

This is printed immediately.
This is printed after 2.4 seconds.

In [15]:
import time

result = time.localtime(1545925769)
print("result:", result)
print("\nyear:", result.tm_year)
print("tm_hour:", result.tm_hour)

result: time.struct_time(tm_year=2018, tm_mon=12, tm_mday=27, tm_hour=21, tm_min=19, tm_sec=29, tm_wday=3, tm_yday=361, tm_isdst=0)

year: 2018
tm_hour: 21

In [17]:
import time

t = (2018, 12, 28, 8, 44, 4, 4, 362, 0)

local_time = time.mktime(t)
print("Local time:", local_time)

Local time: 1545966844.0

In [18]:
import time
local_time = time.ctime(1545966844.0)

print(local_time)

Fri Dec 28 08:44:04 2018

In [21]:
import time

local_time  = time.ctime()

In [22]:
local_time

'Thu Jul 14 17:20:21 2022'

In [14]:
import time 

print(time.time())

1658381004.1656606

In [21]:
import time 

t = (2022, 7, 14, 17, 22, 30, 23, 4, 35)
local_time = time.mktime(t)
print(local_time)

1657799550.0

In [22]:
time.ctime(local_time)

'Thu Jul 14 17:22:30 2022'

In [24]:
import time 

t = (2022, 7, 21, 10, 36, 23, 0, 9,0)
local_time = time.mktime(t)
print(time.ctime(local_time))

Thu Jul 21 10:36:23 2022

In [16]:
time.ctime()

'Thu Jul 21 10:54:49 2022'

In [19]:
time.asctime()

'Thu Jul 21 10:55:14 2022'

In [28]:
import time

seconds = 1545925769

# returns struct_time
t = time.localtime(seconds)
print("t1: ", t)

# returns seconds from struct_time
s = time.mktime(t)
print("\s:", seconds)

t1:  time.struct_time(tm_year=2018, tm_mon=12, tm_mday=27, tm_hour=21, tm_min=19, tm_sec=29, tm_wday=3, tm_yday=361, tm_isdst=0)
\s: 1545925769

In [29]:
import time

t = (2018, 12, 28, 8, 44, 4, 4, 362, 0)

result = time.asctime(t)
print("Result:", result)

Result: Fri Dec 28 08:44:04 2018

In [30]:
import time

named_tuple = time.localtime() # get struct_time
time_string = time.strftime("%m/%d/%Y, %H:%M:%S", named_tuple)

print(time_string)

07/14/2022, 17:30:36

In [32]:
import time

print(time.localtime())

time.struct_time(tm_year=2022, tm_mon=7, tm_mday=14, tm_hour=17, tm_min=31, tm_sec=36, tm_wday=3, tm_yday=195, tm_isdst=0)

In [5]:
import time
print(time.strftime("%m/%d/%y, %H:%M:%S", time.localtime()))

07/18/22, 12:25:42

In [5]:
import time
time.ctime()

'Wed Jul 20 17:29:42 2022'

In [8]:
import time
print(time.strftime("%m/%d/%y, %H:%M:%S", time.localtime()))

07/20/22, 17:30:50

In [31]:
import time

time_string = "21 June, 2018"
result = time.strptime(time_string, "%d %B, %Y")

print(result)

time.struct_time(tm_year=2018, tm_mon=6, tm_mday=21, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=172, tm_isdst=-1)

In [2]:
import time 

local_time = time.ctime()
print(local_time)

Mon Jul 18 12:22:40 2022

In [3]:
import time 

t = time.time()
print(t)

1658127205.107732

In [6]:
import time

print(time.strftime("%m/%d/%y %M%H%S", time.localtime()))

07/18/22 261201

Thank You 👍