#### Python For Loops

A `for `loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the `for` keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the` for` loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [1]:
# Print each fruit in a fruit list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    
# The for loop does not require an indexing
# variable to set beforehand.

apple
banana
cherry

#### Looping Through a String

In [2]:
for x in "banana":
    print(x)

b
a
n
a
n
a

#### The break Statement

With the break statement we can stop the loop before it has looped through all the items:

In [3]:
# Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [4]:
fruits = ["apple", "banana", "cherry"]


for x in fruits:
    if x == "banana":
        break
        
    print(x)
    
# this time 'banana' will not be printed 
# because 'break' statement is before print

apple

####  The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [5]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

#### The range() Function
To loop through a set of code a specified number of times, we can use the `range()` function,
The `range()` function returns a sequence of numbers, starting from 0 by default, and `increments by 1 (by default)`, and ends at a specified number.

In [4]:
# using the range function:
for x in range(6):
    print(x)

0
1
2
3
4
5

**Note**  range(6)  will genrate only six numbers from 0 to 5 which is total six numbers.

In [6]:
for x in range(2, 6):
    print(x)

2
3
4
5

`The range()` function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: `range(2, 30, 3)`:

In [7]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [8]:
for x in range(2, 31, 2):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

#### Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [9]:
for x in range(6):
    print(x)
    
else:
    print("Finally finished")

0
1
2
3
4
5
Finally finished

**Note:** The else block will NOT be executed if the loop is stopped by a break statement.

In [10]:
# Break the loop when x is 3, and see what 
# happens with the else block:

for x in range(6):
    
    if x == 3: break
    print(x)
    
else:
    print("Finally finished!")

0
1
2

In [11]:
for x in range(6):
    if x == 3:
        break
    print(x)
else:
    print("Finally finished!")

0
1
2

#### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [14]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [15]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    print(x)
    for y in fruits:
        print("\t:", y)

red
	: apple
	: banana
	: cherry
big
	: apple
	: banana
	: cherry
tasty
	: apple
	: banana
	: cherry

In [16]:
list1 = [1,2,3,4,5]
list2 = [1,4,9,16,25]

for i in list1:
    
    for j in list2:
        
        print(i, j)

1 1
1 4
1 9
1 16
1 25
2 1
2 4
2 9
2 16
2 25
3 1
3 4
3 9
3 16
3 25
4 1
4 4
4 9
4 16
4 25
5 1
5 4
5 9
5 16
5 25

In [17]:
list1 = [1,2,3,4,5]
list2 = [1,4,9,16,25]

for i in list1:
    print(i)
    for j in list2:
        print(f"\t: {j}")

1
	: 1
	: 4
	: 9
	: 16
	: 25
2
	: 1
	: 4
	: 9
	: 16
	: 25
3
	: 1
	: 4
	: 9
	: 16
	: 25
4
	: 1
	: 4
	: 9
	: 16
	: 25
5
	: 1
	: 4
	: 9
	: 16
	: 25

In [11]:
lst1 = [1,2,3,4,5,6,6]

new_lst = [[(y, x) for x in lst1] for y in lst1]

new_lst

[[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 6)],
 [(2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 6)],
 [(3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 6)],
 [(4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 6)],
 [(5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 6)],
 [(6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 6)],
 [(6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 6)]]

In [12]:
[[input() for x in range(3)] for y in range(2)]

`0
10
20
30
40
50

[['`0', '10', '20'], ['30', '40', '50']]

In [13]:
# making a matrix by taking user input

row = int(input("Please enter the number of rows : "))
col = int(input("Please enter the number of col : "))

matrix = [[input(f"Enter value {j+1}{i+1} : ") for i in range(col)] for j in range(row)]
print()
print(matrix)

Please enter the number of rows : 2
Please enter the number of col : 3
Enter value 11 : 10
Enter value 12 : 20
Enter value 13 : 30
Enter value 21 : 40
Enter value 22 : 50
Enter value 23 : 60

[['10', '20', '30'], ['40', '50', '60']]

In [16]:
# making a matrix by taking user input and print the matrix format

row = int(input("Please enter the number of rows : "))
col = int(input("Please enter the number of col : "))

matrix = [[input(f"Enter value {j+1}{i+1} : ") for i in range(col)] for j in range(row)]
print()
for i in range(row):
    for j in range(col):
        
        print(matrix[i][j], end = " ")
    print()

Please enter the number of rows : 2
Please enter the number of col : 3
Enter value 11 : 12
Enter value 12 : 23
Enter value 13 : 13
Enter value 21 : 34
Enter value 22 : 243
Enter value 23 : 23

12 23 13
34 243 23

#### The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [18]:
for x in [0, 1, 2]:
    pass

Thank You 👍