#### Set
`Sets `are used to store multiple items in a single variable.

`Set` is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

`A set is a collection which is unordered, unchangeable*, and unindexed.`

* `Note:` Set items are unchangeable, but you can remove items and add new items.

* `Sets are written with curly brackets`.

In [1]:
myset = {"apple", "banana", "cherry"}

In [2]:
print(myset)

{'banana', 'apple', 'cherry'}

**Note:** Sets are unordered, so you cannot be sure in which order the items will appear.

* `Set Items`
Set items are unordered, unchangeable, and do not allow duplicate values.

* `Unordered`
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

* `Unchangeable`
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

* `Duplicates Not Allowed`
Sets cannot have two items with the same value.

In [3]:
thisset = {"apple","banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

As we can see that there is no duplicates allowed

####  Get the Length of a Set
To determine how many items a set has, use the `len()` function.

In [4]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

#### Data Types
Set items can be any data types

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(type(set1))
print(type(set2))
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

A set can contain different data types:

In [6]:
set1 = {"abc", 34, True, 40, "Male"}

print(type(set1))

<class 'set'>

#### The set() Constructor
It is also possible to use the `set()` constructor to make a set.

In [7]:
thisset = set(("apple", "banana", "cherry"))
# note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

#### Python Collections (Arrays)
There are four collection data types in the Python programming language:

* `List` is a collection which is ordered and changeable. Allows duplicate members.

* `Tuple` is a collection which is ordered and unchangeable. Allows duplicate members.

* `Set` is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

* `Dictionary` is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove items and add new items.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

#### Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a `for` loop, or ask if a specified value is present in a set, by using the `in` keyword.

In [8]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

In [10]:
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

#### Change Items
Once a set is created, you cannot change its items, but you can add new items.

#### Add Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the `add()` method.

In [11]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")
print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

In [13]:
thisset.add("mango")
print(thisset)

{'banana', 'mango', 'orange', 'cherry', 'apple'}

#### Add Sets
To add items from another set into the current set, use the `update()` method.

In [14]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'cherry', 'papaya', 'mango', 'apple', 'pineapple'}

In [15]:
thisset.update(("grape", "guawa"))
print(thisset)

{'banana', 'cherry', 'guawa', 'papaya', 'mango', 'apple', 'grape', 'pineapple'}

#### Add Any Iterable
The object in the `update()` method does not have to be a set, it can be any iterable object `(tuples, lists, dictionaries etc.)`.

In [16]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)
print(thisset)

{'banana', 'orange', 'cherry', 'kiwi', 'apple'}

#### Remove Item
To remove an item in a set, use the `remove()`, or the `discard()` method.

`Example`
Remove "banana" by using the `remove()` method:

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

`Note:` If the item to remove does not exist, remove() will raise an error.

In [18]:
thisset.remove("mango")
print(thisset)

KeyError: 'mango'

In [19]:
# discards()

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

`Note:` If the item to remove does not exist, discard() will NOT raise an error.

In [20]:
thisset.discard("mango")
print(thisset)

{'apple', 'cherry'}

As we can see that there was no "mango" despite that discard method didn't raise an error this is the difference between remove and discard

#### pop()
You can also use the `pop()` method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the `pop()` method is the removed item.

`Example`
Remove the last item by using the `pop()` method:

In [21]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)
print(thisset)

banana
{'apple', 'cherry'}

`Note:` Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

#### clear()

`Example`

The `clear()` method empties the set:

In [22]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

#### del

the `del` keyword will delete the set completely

In [23]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

#### Loop Items
You can loop through the set items by using a for loop:

In [25]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

### Join Two Sets
There are several ways to join two or more sets in Python.

You can use the `union()` method that returns a new set containing all items from both sets, or the `update()` method that inserts all the items from one set into another:

In [26]:
# Union()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'c', 'a', 3, 'b'}

In [27]:
# update()

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'c', 'a', 3, 'b'}

`Note:` Both `union()` and `update()` will exclude any duplicate items.

In [28]:
set1 = {"a","b","c"}
set2 = {"a", 1,2,3}
set1.update(set2)

print(set1)

{1, 2, 'c', 'a', 3, 'b'}

#### Keep ONLY the Duplicates
The `intersection_update()` method will keep only the items that are present in both sets.

In [29]:
# Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The i`ntersection()` method will return a new set, that only contains the items that are present in both sets.

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

#### Keep All, But NOT the Duplicates
The `symmetric_difference_update()` method will keep only the elements that are NOT present in both sets.

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'cherry', 'google', 'microsoft'}

The `symmetric_difference()` method will return a new set, that contains only the elements that are NOT present in both sets.

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'google', 'microsoft'}

#### Set Methods

#### difference()

The `difference()` method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

`Syntax`

`set.difference(set)`

In [39]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [40]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'google', 'microsoft'}

#### difference_update()

The `difference_update()` method removes the items that exist in both sets.

The `difference_update()` method is different from the `difference(`) method, because the `difference()` method returns a new set, without the unwanted items, and the `difference_update()` method removes the unwanted items from the original set.

`Syntax`

`set.difference_update(set)`

In [41]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

#### copy()

The `copy()` method copies the set.

`Syntax`

`set.copy()`

In [42]:
#### Copy the fruits set:

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'apple', 'cherry'}

In [43]:
x.add("mango")

print(fruits)
print(x)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry', 'mango'}

#### isdisjoint()

The `isdisjoint()` method returns True if none of the items are present in both sets, otherwise it returns False.

`Syntax`

`set.isdisjoint(set)`

In [33]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [34]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

#### issubset()

The `issubset()` method returns True if all items in the set exists in the specified set, otherwise it retuns False.

`Syntax`

`set.issubset(set)`

In [35]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [36]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

#### issuperset()

The `issuperset()` method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

`Syntax`

`set.issuperset(set)`

In [37]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [38]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

Thank You üëç