#### format_map()	

Formats specified values in a string

### String Index()

`Definition and Usage`
The index() method finds the first occurrence of the specified value.

* `The index()` method raises an exception if the value is not found.

* `The index()` method is almost the same as the `find()` method, the only difference is that the `find()` method returns` -1` if the value is not found. (See example below)

`Syntax`


`string.index(value, start, end)`

In [2]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [3]:
print(txt.index("to"))

15

In [4]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

In [5]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

## here we can see that find method return 
# -1 while .index() gave error when index
# not found

-1

ValueError: substring not found

#### isalnum()

Definition and Usage
The `isalnum()` method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

In [1]:

txt = "Company12"

x = txt.isalnum()

print(x)

True

In [2]:
txt  = "company 12"

x = txt.isalnum()
print(x)

False

In [3]:
txt  = "company_12"

x = txt.isalnum()
print(x)

False

#### isalpha()

`Definition and Usage`
The `isalpha()` method returns True if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

`Syntax`

`string.isalpha()`

In [4]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [5]:
# even '_' will also not come into the alphabet , sometime we can get confuse that '_' uses in identifier

txt = "Company_X"

x = txt.isalpha()

print(x)

False

In [6]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

means only alpha will return true

#### isascii()

`Definition and Usage`

The `isascii()` method returns True if all the characters are ascii characters  (a-z).

ASCII is a 7-bit character set containing 128 characters. It contains the numbers from 0-9, the upper and lower case English letters from A to Z, and some special characters. The character sets used in modern computers, in HTML, and on the Internet, are all based on ASCII.

In [7]:
txt = "Company123"

x = txt.isascii()

print(x)

True

In [9]:
txt = "hello ä"
print(txt.isascii())

False

In [2]:
print("Hello123".isascii())

True

In [3]:
print("hakshl@12".isascii())

True

In [4]:
print("hakshl%12".isascii())

True

#### isdecimal()

note - This method is uses on unicode objects.

The `isdecimal()` method returns True if all the characters are decimals (0-9).

This method is used on unicode objects.

`Syntax`
string.isdecimal()

In [16]:
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

In [17]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

`This method is used on unicode objects.`

In [18]:
a = 10.2

print(a.isdecimal())

AttributeError: 'float' object has no attribute 'isdecimal'

#### isdigit()

The isdigit() method returns True if all the characters are digits, otherwise False.

Exponents, like ², are also considered to be a digit.

`Syntax`

string.isdigit()

In [8]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [9]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

In [5]:
txt = "50.23"

x = txt.isdigit()

print(x)

False

It resturned False because period "." is not a digit wether it come in float. Keep in mind when we use 'isdigit()' method.

#### isidentifier()

`A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9).`

The `isidentifier()` method returns True if the string is a valid identifier, otherwise False.

A string is considered a valid identifier if it only contains alphanumeric letters `(a-z)` and `(0-9)`, or underscores `(_)`. A valid identifier cannot start with a number, or contain any spaces.

`Syntax`

`string.isidentifier()`

In [6]:
txt = "HelloWorld"
x = txt.isidentifier()
print(x)

True

In [7]:
txt = "Demo"
x = txt.isidentifier()
print(x)

True

In [8]:
txt = "Hello World" # here string caontain space
x = txt.isidentifier() # this is not a valid identifier

print(x)

False

In [9]:
print("Hello_world".isidentifier())

True

In [10]:
print("Hello_World!".isidentifier())

# it will return False because '!'
# string sholud comntain only a-z 0-9 and '_'

False

In [11]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

#### islower()

The `islower()` method returns `True` if all the characters are in lower case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

`Syntax`

`string.islower()`

In [12]:
txt = "hello world"
x = txt.islower()
print(x)

True

In [13]:
print("hello 123".islower())

True

In [14]:
print("Hello 123".islower())

False

In [15]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

#### isnumeric()

The `isnumeric()` method returns True if all the characters are numeric `(0-9)`, otherwise False.

Exponents, like ² and ¾ are also considered to be numeric values.

`"-1"` and `"1.5"` are NOT considered numeric values, because all the characters in the string must be numeric, and the `- `and the `. `are not.

`Syntax`

`string.isnumeric()`

In [16]:
txt= "686364"
x = txt.isnumeric()
print(x)

True

In [17]:
# Note - symbols will not be counted in 'isnumeric' function 
#        even float will not counted as 'isnumeric' because it contain '.'

print("-689689".isnumeric())

False

In [18]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

#### isprintable()

The `isprintable()` method returns True if all the characters are printable, otherwise False.

Example of none printable character can be carriage return and line feed.

`Syntax`

`string.isprintable()`

In [19]:
txt = "Hello! Are You #1?"
x = txt.isprintable()
print(x)

True

In [20]:
# here we have used new line fuction in the txt
# whenever new line or carriage return will come it will return False
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

In [21]:
print("Hello  \rWorld!".isprintable()) # whenever new line or carriage return will come it will 
                                        # return False

False

In [22]:
print("Hello \nWorld".isprintable())

False

whenever new line or carriage return will come it will return False

In [23]:
print(txt)

Hello!
Are you #1?

#### isspace()

The `isspace()` method returns True if all the characters in a string are only whitespaces, otherwise False.

`syntax:`

`string.isspace()`

In [24]:
txt = " "

x = txt.isspace()

print(x)

True

In [25]:
print("  s  ".isspace())

False

In [26]:
print("Hello World".isspace())

False

means all character in a string should be white space

#### istitle()

The `istitle()` method returns True if all words in a text start with a upper case letter, and the rest of the word are lower case letters, otherwise False.

Symbols and numbers are ignored.

`Syntax`

`string.istitle()`

In [1]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [2]:
print("Hello Wolrd!".istitle())

True

In [3]:
print("How are you".istitle())

False

In [4]:
print("Hello 123!".istitle())

True

In [5]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [32]:
print("Hello, Wolrd".istitle())

True

In [33]:
print("HELLO WORLD".istitle())

False

#### isupper()

The `isupper()` method returns True if all the characters are in upper case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

`Syntax`

`string.isupper()`

In [34]:
txt = "THIS IS NOW!"
x = txt.isupper()

print(x)

True

In [35]:
print("HELLO123!".isupper())

True

In [36]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

####  Join()

The `join(`) method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

`Syntax`

`string.join(iterable)`

`Parameter`-----	`Description`


iterable	------ Required. Any iterable object where all the returned values are strings

In [37]:
# join all item into a string, using a hassh 
# character as separaor

myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [38]:
# Join all items in a dictionary into a 
# string, using the word "TEST" as separator:

myDict = {"name":"John", "country":"Norway"}

mySeparator = "TEST"

x = mySeparator.join(myDict)
print(x)

nameTESTcountry

In [39]:
myDict = {"name":"John", "country":"Norway"}

mySeparator = "TEST"

x = mySeparator.join(myDict.keys())
print(x)

nameTESTcountry

In [40]:
myDict = {"name":"John", "country":"Norway"}

mySeparator = "TEST"

x = mySeparator.join(myDict.values())
print(x)

JohnTESTNorway

In [41]:
myDict = {"name":"John", "country":"Norway"}

mySeparator = "TEST"

x = mySeparator.join(myDict.items()) # it will give error because .items() returns 'tuple' of key,value
print(x)

TypeError: sequence item 0: expected str instance, tuple found

**Note:** When using a dictionary as an iterable, the returned values are the keys, not the values.

In [42]:
myList = ["Welcome", "to", "the", "Python", "World"]

mySeparator = "_"

x = mySeparator.join(myList)
print(x)

Welcome_to_the_Python_World

In [6]:
myList = ["Welcome", "to", "the", "Python", "World"]



x = "".join(myList) # note hare we have given no space as we had given in previous some of them 
print(x)

WelcometothePythonWorld

#### ljust()

The `ljust() `method will left align the string, using a specified character (space is default) as the fill character.

`Syntax`

`string.ljust(length, character)`

In [44]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

**Note:** In the result, there are actually 14 whitespaces to the right of the word banana.

In [45]:
txt = "banana"

x = txt.ljust(20, "o")

print(x)

bananaoooooooooooooo

In [46]:
txt = "banana"

x = txt.ljust(20, "-")

print(x)

banana--------------

#### rjust()

The `rjust()` method will right align the string, using a specified character (space is default) as the fill character.

`Syntax`

`string.rjust(length, character)`

In [47]:
txt = "banana"

x = txt.rjust(20)

print("hello",x, "is my favorite fruit.")

hello               banana is my favorite fruit.

In [48]:
txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

In [49]:
txt = "banana"

x = txt.rjust(20, "-")

print(x)

--------------banana

In [50]:
txt = "banana"

x = txt.rjust(20, "*")

print(x)

**************banana

#### lower()

The `lower()` method returns a string where all characters are lower case.

 Symbols and Numbers are ignored.

`Syntax`


`string.lower()`

In [51]:
txt = "Hello My FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [52]:
print("Hello 123  friends!".lower())

hello 123  friends!

symbol and number are ignored

#### lstrip()

The `lstrip()` method removes any leading characters (space is the default leading character to remove)

`Syntax`


`string.lstrip(characters)`

In [53]:
txt = "    banana   "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana    is my favorite

In [54]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

In [55]:
print("$5000.00".lstrip("$"))

5000.00

In [16]:
number = "$5000"
number = number.lstrip("$")

print(int(number))

5000

In [17]:
text = "$5000$"
text = text.lstrip("$")

print(text)

5000$

In [18]:
# but if use only strip method then it strip from both the side
text = "$5000$"
text = text.strip("$")

print(text)

5000

In [15]:
txt = ",hshhhhshh.....apple"

x = txt.lstrip(",.sh")
print(x)

apple

In [19]:
txt = ",hsahhhhashh.....apple......ash"

x = txt.lstrip(",.ash")
print(x)

pple......ash

In [59]:
txt = ",hshhahhsaohh.....Mango"

x = txt.lstrip(",.asoh")
print(x)

Mango

#### strip()

The `strip() `method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

`Syntax`


`string.strip(characters)`

In [61]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [63]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

#### rstrip()

The `rstrip()` method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

`Syntax`


s`tring.rstrip(characters)`

In [64]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [65]:
txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

In [20]:
text = "$5000$"
text = text.rstrip("$")

print(text)

$5000

In [21]:
text = "$5000$"
text = text.strip("$")

print(text)

5000

#### maketrans()

The `maketrans()` method returns a mapping table that can be used with the translate() method to replace specified characters.

`Syntax`

`string.maketrans(x, y, z)`

`Parameter`	-------`Description`

* `x`------	Required. If only one parameter is specified, this has to be a dictionary describing how to perform the replace. If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace.
* `y`	-----Optional. A string with the same length as parameter x. Each character in the first parameter will be replaced with the corresponding character in this string.


* `z`	-----Optional. A string describing which characters to remove from the original string.

In [66]:
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [3]:
txt = "Hello Sam!"
rep_word = {"S":"P"}
print(txt)
mytable = txt.maketrans(rep_word)
print(mytable)

print(txt.translate(mytable))

Hello Sam!
{83: 'P'}
Hello Pam!

In [67]:
txt = "Hi Sam!"

x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

Hi Joe!

The `maketrans()` method itself returns a dictionary describing each replacement, in unicode:

In [68]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(txt.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

In [69]:
txt = "Hi Sam!"

x = "S"
y = "J"

new_txt = txt.maketrans(x,y)
print("Normal txt : ", txt)
print("Maktrance txt : ", new_txt)

Normal txt :  Hi Sam!
Maktrance txt :  {83: 74}

In [24]:
## as we can see that 'maketrans()' method returned a dictionary describing each replacement, in 
# unicode, Now we need to translate it.

replaced_str = txt.translate(new_txt)
print(replaced_str)

Hi Jam!

In [26]:
# now let's check the orginal string 
print(txt)

Hi Sam!

In [27]:
# if got confused then let's replace it in one line 
txt = 'Hello, Sam!'
x = "S"
y = "J"
new_txt = txt.translate(txt.maketrans(x, y))
print(new_txt)

Hello, Jam!

#### Note :-
When we pass third argument then that argument will be mapped with 'None' and when we translate then that will be removed.

In [22]:
str1 = "[Hello [World!, welcome to Python{ Programming }]]"
arg1 = 'HW' # these are upper now we will replace it with lower
arg2 = 'hw' # these will replcae 'arg1' string
arg3 = '[{}]' # this argument value will be mapped with 'None' and removed 

str1.maketrans(arg1, arg2, arg3)

{72: 104, 87: 119, 91: None, 123: None, 125: None, 93: None}

As we can see that the third argument's element hasa been mapped with 'None' and when we will translate, it will be removed.

In [23]:
str1.translate(str1.maketrans(arg1, arg2, arg3))

'hello world!, welcome to Python Programming '

In [25]:
str1.translate(str1.maketrans(arg1, arg2, arg3)).strip() # to avoid extra space at end or start

'hello world!, welcome to Python Programming'

####  partition()

* The `partition() `method searches for a specified string, and splits the string into a tuple containing three elements.

* The first element contains the part before the specified string.

* The second element contains the specified string.

* The third element contains the part after the string.

* `Note:` This method searches for the first occurrence of the specified string.

`Syntax`


`string.partition(value)`

`
Example`

Search for the word "bananas", and return a tuple with three elements:

1 - everything before the "match"

2 - the "match"

3 - everything after the "match"`

In [31]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [32]:
# But doesn't change the original string.

print(txt)

I could eat bananas all day

**Note** 

If the specified value is not found, the `partition() `method returns a tuple containing: 

1 - the whole string,

2 - an empty string, 

3 - an empty string:

In [33]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

####  rpartition()

* The `rpartition() `method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

* The first element contains the part before the specified string.

* The second element contains the specified string.

The third element contains the part after the string.

`Syntax`


`string.rpartition(value)`

In [34]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [35]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

In [36]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

#### replace()

`The replace()` method replaces a specified phrase with another specified phrase.


`Note:` 
All occurrences of the specified phrase will be replaced, if nothing else is specified.

`Syntax`


`string.replace(oldvalue, newvalue, count)`

In [37]:
txt = "I like banana"
x = txt.replace("banana", "apple")

print(x)

I like apple

In [38]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [39]:
# Replace the two first occurrence of
# the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

####  rfind()

The `rfind()` method finds the last occurrence of the specified value.

The `rfind()` method returns -1 if the value is not found.

The `rfind()` method is almost the same as the rindex() method. See example below.

`Syntax`

`string.rfind(value, start, end)`

`Parameter`------`Description`

`value`----	Required. The value to search for

`tart`----	Optional. Where to start the search. Default is 0


`end`----	Optional. Where to end the search. Default is to the end of the string

In [57]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [58]:
txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [59]:
txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

If the value is not found, the `rfind() `method `returns -1`, but the `rindex()` method will raise an exception:

In [72]:
txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: substring not found

#### rindex()


* The `rindex()` method finds the last occurrence of the specified value.

* The `rindex()` method raises an exception if the value is not found.

* The `rindex() `method is almost the same as
the `rfind()` method. See example below.

`Syntax`


`string.rindex(value, start, end)`

`Parameter`------	`Description`

`value`-----	Required. The value to search for

`start`-----	Optional. Where to start the search. Default is 0

`end`	-----Optional. Where to end the search. Default is to the end of the string

In [73]:
# Where in the text is the last occurrence 
# of the string "casa"?:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [74]:
txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

In [75]:
txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

8

In [76]:
txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: substring not found

#### rsplit()

* The `rsplit()` method splits a string into a list, starting from the right.

* If no `"max" `is specified, this method will return the same as the `split() `method.

* `Note:` When maxsplit is specified, the list will contain the specified number of elements plus one.

`Syntax`


`string.rsplit(separator, maxsplit)`

In [40]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

`Parameter`----	`Description`


`separator`----	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator


`maxsplit`----	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [41]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, 
# will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

In [2]:
txt = "apple banana cherry"

# setting the maxsplit parameter to 1, 
# will return a list with 2 elements!
x = txt.rsplit(" ", 1)

print(x)

['apple banana', 'cherry']

In [89]:
print("Hello, World, How, are, you".rsplit(", ", 2))

['Hello, World, How', 'are', 'you']

it split string from right side

In [60]:
txt = "apple, banana, cherry"
print(txt.split(",", 1))

['apple', ' banana, cherry']

it split string from left side

#### split()

The `split()` method splits a string into a list.

You can specify the separator, default separator is any whitespace.

`Note:` When maxsplit is specified, the list will contain the specified number of elements plus one.

`Syntx`


`string.split(separator, maxsplit)`

`Parameter`---	`Description`


`separator`---	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator


`maxsplit`---	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [90]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [91]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [92]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [93]:
# Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

#### splitlines()

The `splitlines()` method splits a string into a list. The splitting is done at line breaks.

`Syntax`


`string.splitlines(keeplinebreaks)`

`Parameter`-----	`Description`


`keeplinebreaks`-----	Optional. Specifies if the line breaks should be included (True), or not (False). Default value is False

In [94]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [4]:
# Let's check what if the string have no new line separator.

txt = "Thank you for the music, Welcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music, Welcome to the jungle']

As we can see when string have no new line separator then we got all string as a single value in list.

In [42]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

After making condition 'True' the 'splitlines()' method return a list of split string and list string will also contain '\n' at the end of the every newline split.

#### startwith()

The `startswith()` method returns True if the string starts with the specified value, otherwise False.

`Syntax`


`string.startswith(value, start, end)`

In [43]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [45]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

#### swapcase()

The `swapcase()` method returns a string where all the upper case letters are lower case and vice versa.

`Syntax`

`string.swapcase()`

In [46]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [47]:
print("hELLO wORLD!".swapcase())

Hello World!

#### title()

The `title()` method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

`Syntax`


`string.title()`

In [108]:
txt = "Welcome to my world"
print(txt.title())

Welcome To My World

In [109]:
txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

As we can see '.title()' method give new value with every word's first letter in capital letter even if digit is the first character of the word then it convert alpha after digit into capital letter.

In [110]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

In [111]:
print("2hello 2world".capitalize())

2hello 2world

Note point is that title method conver uppercase after number but capitalize will not work

#### translate()

he `translate()` method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the `maketrans()` method to create a mapping table.

If a character is not specified in the dictionary/table, the character will not be replaced.

If you use a dictionary, you must use ascii codes instead of characters.

`Syntax`

`string.translate(table)`

In [112]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))  # when we use single parameter in 'translate' method then the
                            # single parameter must be dictionary to map the character to change

Hello Pam!

In [113]:
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [114]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [115]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [116]:
txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

#### upper()

The `upper()` method returns a string where all characters are in upper case.

 Symbols and Numbers are ignored.

`Syntax`

`string.upper()`

In [117]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [118]:
print("please do it 22uupper".upper())

PLEASE DO IT 22UUPPER

#### zfill()

The `zfill()` method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

`Syntax`

`string.zfill(len)`

In [5]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [6]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

#### isinstance():

The isinstance() function returns True if the specified object is of the specified type, otherwise False.

If the type parameter is a tuple, this function will return True if the object is one of the types in the tuple.

`Syntax:
isinstance(object, type)`

In [7]:
print(isinstance(23, int))

True

In [8]:
print(isinstance(12.2, float))

True

In [9]:
print(isinstance(1.2e3, float))

True

In [10]:
print(isinstance(2+2j , complex))

True

In [4]:
print(isinstance("hello", int))

False

In [5]:
print(isinstance("hello", str))

True

In [6]:
print(isinstance("34", str))

True

In [11]:
x = isinstance("Hello", (str, float, int, str, list, dict, tuple))

print(x)

True

In [12]:
# even we can make a class and make instance of that and check with the 'isinstance' method

class Student:
    school_name = "XYZ Schools"
    def __init__(self):
        pass

In [13]:
obj_inst = Student()

In [14]:
# now lets check class instance 
print(isinstance(obj_inst, Student))

True

As we can see that 'obj_inst' is the instance of the class "Student".
Thus by using we can check the instance of the object.

#### Thank you for having patience 😊👍😍