### Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

`'hello'` is the same as `"hello"`.

You can display a string literal with the `print()` function:

In [1]:
print("Hello")
print('Hello')

Hello
Hello

#### Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [2]:
a = "Hello"

print(a)

Hello

#### Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [3]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqu"""

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqu

**Note:** you will get same line indentation 
in out put as you will give it to as a input

In [4]:
### we can use 3 single quotes at the place 
## of """ """

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqu'''

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqu

In [5]:
### within triple quotes the tab '\t' and new line '\n' works fine 

print("""this is tab\tand this is\nNew line that will work fine.
and this is another new line we have given to just check whether it will work or not.""")

this is tab	and this is
New line that will work fine.
and this is another new line we have given to just check whether it will work or not.

**Note:** in the result, the line breaks are inserted at the same position as in the code.

#### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.


#### Example
Get the character at position 1 (remember that the first character has the position 0):

In [6]:
a = "Hello World!"

print(a[1])

e

In [7]:
print(a[0])

H

#### Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

#### Example
Loop through the letters in the word `"banana"`:

In [8]:
for x in "banana":
    print(x)

b
a
n
a
n
a

#### String Length
To get the length of a string, use the len() function.

In [9]:
a = "Hello world!"

print(len(a))

12

### Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [10]:
txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an `if` statement:

In [11]:
txt = "The best things in life are free!"

if "free" in txt:
    print("Yes, 'free' is present")

Yes, 'free' is present

#### Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [12]:
txt = "The best things in life are free!"

print("expensive" not in txt)

True

use it in an `if` statement

In [13]:
txt = "The best things in life are free!"

if "expensive" not in txt:
    print("No, 'expensive' is NOT present")

No, 'expensive' is NOT present

#### Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [14]:
# Get the characters from position 2 to position 5 (not included):

b = "Hello World!"

print(b[2:5])

llo

**Note:** The first character has index 0.


#### Slice From the Start
By leaving out the start index, the range will start at the first character:

#### Example
Get the characters from the start to position 5 (not included):

In [16]:
b = "Hello, World!"
print(b[:5])

Hello

#### Slice To the End
By leaving out the end index, the range will go to the end:

#### Example
Get the characters from position 2, and all the way to the end:

In [15]:
b = "Hello, World!"

print(b[2:])

llo, World!

### Negative Indexing
Use negative indexes to start the slice from the end of the string:


### Example
Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [18]:
b = "Hello, World!"

print(b[-5:-2])

orl

In [19]:
# reverse the string 
print(b[::-1])

!dlroW ,olleH

In [20]:
print(b[-5:])

orld!

In [21]:
b[-1:-4]

''

In [22]:
print(b[-1:-4])
# will return nothing

### Python - Modify Strings

Python has a set of built-in methods that you can use on strings.

#### Upper Case
#### Example
* The `upper()` method returns the string in upper case:
* But does not change the original one.

In [23]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [26]:
# upper() method does not change original string return new upper case string.

In [27]:
a = "hello world"
b = a.upper()
print(b)

HELLO WORLD

In [28]:
print(a)

hello world

### Lower Case
#### Example
The `lower()` method returns the string in lower case:

In [8]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [30]:
a = "Hello World"
b = a.lower()
print(a)
print(b)

Hello World
hello world

#### Remove Whitespace

Whitespace is the space before and or after the actual text, and very often you want to remove this space.

#### Example

The `strip()` method removes any whitespace from the beginning or the end:

In [31]:
a = " Hello, World! "

print(a.strip()) # returns "Hello, World!"

Hello, World!

In [32]:
a = "***Hello World!@@@@@"
print(a.strip("*@"))

Hello World!

In [33]:
print(a)

***Hello World!@@@@@

As we can see 'strip()' doen't affected original string just return a new stripped string.

#### Replace String

#### Example
The `replace()` method replaces a string with another string:

In [34]:
a = "Hello, World!"

print(a.replace("H", "J"))

Jello, World!

In [35]:
a = "checking replace on broad and road"
print(a.replace("road", "rd"))

checking replace on brd and rd

As we can see that replace method got confused here with `'broad'` and `'road'` because `'road'` is within `'broad'` that is why it replace the 'road' inside 'broad' as well so to avoid this `'Regular Expression'` is uses to accurate execution.

#### Split String

* The `split()` method returns a list where the text between the specified separator becomes the list items.

* And space " " is default separator in split function.

#### Example

The `split()` method splits the string into substrings if it finds instances of the separator:

In [16]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [17]:
a = "welcome to the Python   wolrd!"
print(a.split())
# As we can see that Default separator is "whitespace " no matter how many separator

['welcome', 'to', 'the', 'Python', 'wolrd!']

In [18]:
a = "welcome to the Python               wolrd!"
print(a.split())

['welcome', 'to', 'the', 'Python', 'wolrd!']

### Python - String Concatenation

To concatenate, or combine, two strings you can use the + operator.

#### Example
Merge variable `a` with variable `b` into variable `c`:

In [19]:
a = "Hello"
b = "World"
c = a + b

print(c)

HelloWorld

In [20]:
# To add a space between them, add a " ":

a = "Hello"
b = "world"
c = a + " " + b
print(c)

Hello world

In [21]:
a = "Hello "
b = "World"
print(a + b)

Hello World

#### String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

#### Example

In [22]:
age = 36

txt = "My nam is John, I am " + age

print(txt)

## normally we can't add str and numbers

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the `format()` method!

The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are:

#### Example
Use the `format()` method to insert numbers into strings:

In [23]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The `format()` method takes unlimited number of arguments, and are placed into the respective placeholders:

Example

In [24]:
quantity = 3

itemno = 567

price = 49.95

myorder = "I want {} piece of item {} for {} dollar"
print(myorder.format(quantity, itemno, price))

I want 3 piece of item 567 for 49.95 dollar

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [25]:
quantity = 3

itemno = 567

price = 49.95

myorder = "I want to pay {2} dollars for {0} piece of item {1}"
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 piece of item 567

#### Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\ `followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

#### Example
You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [26]:
txt = "We are the so-called " Vikings" from the north"
print(txt)

SyntaxError: invalid syntax (1935141753.py, line 1)

To fix this problem, use the escape character` \`:

The escape character allows you to use double quotes when you normally would not be allowed:

In [27]:
txt = "We are the so-called \"Vikings\" from the north"
print(txt)

We are the so-called "Vikings" from the north

In [28]:
print("Hello \"Python\" wrold!")

Hello "Python" wrold!

In [29]:
# Single Quote \'

txt = 'It\'s alright.'
print(txt)

It's alright.

In [30]:
print('It\'s my Passion for Python')

It's my Passion for Python

In [31]:
print("Hello \"Ankit\", How are you doing?\nHope you are doing good")

Hello "Ankit", How are you doing?
Hope you are doing good

In [32]:
print("Hello,")

Hello,

In [33]:
# Backslash \

txt = "This will insert one \\ (bcakslash)."

print(txt)

This will insert one \ (bcakslash).

In [34]:
# New Line \n
print("Hello\nWorld!")

Hello
World!

In [35]:
txt = "Hello\n\tWorld!"
print(txt)

Hello
	World!

In [36]:
# Carriage Return \r

txt = "Hello\rWorld!"
print(txt)

World!

In [37]:
print("this is a \rCarriage Return")

Carriage Return

In [38]:
print("This is a test", end = "\r\n")

This is a test

In [39]:
# Tab \t

print("Hello\tWorld!")

Hello	World!

In [40]:
# Form feed \f
print("Hello\fWorld!")

HelloWorld!

In [41]:
# Form feed \f
print("Hello   \fWorld!")

Hello   World!

In [42]:
# Octal Value 
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [43]:
# Hex Value
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

#### String Methods
Python has a set of built-in methods that you can use on strings.

`Note:` All string methods returns new values. They do not change the original string.

#### Python String capitalize() Method

* The `capitalize()` method returns a string where the first character is upper case, and the rest is lower case.

* And does not change original string.

In [44]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print(x)
print(txt)

Hello, and welcome to my world.
hello, and welcome to my world.

In [45]:
txt = "python is Fun!"
x = txt.capitalize()
print(x)

Python is fun!

Look how other Upper case has been converted into lover case except First letter

In [46]:
# See what happens if the first character is a number:

x = "36 is my age."

print(x.capitalize())

36 is my age.

As we can see if first word will be number then nothing will be change in a letter just after the number

#### Python String casefold() Method

In [47]:
# Make the string lower case:
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

#### Definition and Usage
The `casefold()` method returns a string where all the characters are lower case.

This method is similar to the `lower()` method, but the `casefold()` method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the `casefold()` method.

**In Next Jupyter file we will discuss it**