#### String Methods

Python has a set of built-in methods that you can use on strings.

**Note:** All string methods returns new values. They do not change the original string.

*   **capitalize()**

In [1]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

#### Definition and Usage

The `capitalize()` method returns a string where the first character is upper case, and the rest is lower case.

#### Syntax
`string.capitalize()`

#### Parameter Values
No parameters

The first character is converted to upper case, and the rest are converted to lower case:

In [2]:
txt = "python is FUN!"

x = txt.capitalize()
print(x)

Python is fun!

In [3]:
# See what happens if the first character is a number:

txt = "36 is my age"

x = txt.capitalize()

print(x)

36 is my age

means if digit come first before letter then capitalize will not convert upper case to the word just after digit. And if there is any upper case letter then that will be converted into lower case.

In [1]:
txt = "36 Is My age"

x = txt.capitalize()

print(x)

36 is my age

In [2]:
txt

'36 Is My age'

#### casefold() 
Converts string into lower case

#### Definition and Usage
The `casefold()` method returns a string where all the characters are lower case.

This method is similar to the `lower()` method, but the `casefold()` method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

#### Syntax
`string.casefold()`
Parameter Values
No parameters

In [6]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [7]:
# let's see original value 

print(txt)

Hello, And Welcome To My World!

In [5]:
print("I love Python World!".casefold())

i love python world!

#### center()	
Returns a centered string

`Example:`
Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

In [1]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

#### Definition and Usage
The `center()` method will center align the string, using a specified character (space is default) as the fill character.

#### Syntax
`string.center(length, character)`

#### Parameter Values 

Parameter  ---	Description

length	    --- Required. The length of the returned string

character	--- Optional. The character to fill the missing space on each side. Default is " " (space)

In [2]:
txt = "banana"

x = txt.center(20, "o")
print(x)

ooooooobananaooooooo

In [3]:
print(txt)

banana

It means 'center' returns new centered string and does not change the original one.

In [4]:
print("banana".center(20, "-"))

-------banana-------

In [5]:
print("banana".center(20, "#"))

#######banana#######

In [6]:
print("banana".center(20, "*"))

*******banana*******

In [7]:
print("banana".center(20, "**")) # we cann't use double character

TypeError: The fill character must be exactly one character long

In [8]:
print("banana".center(20, "* ")) # also can't use the space as well so be aware of this

TypeError: The fill character must be exactly one character long

#### count()	

Returns the number of times a specified value occurs in a string

In [5]:
txt = "I love apples, apples are my favorite fruit"

x = txt.count("apples")
print(x)

2

value  	  -- Required. A String. The string to value to search for


start	  -- Optional. An Integer. The position to start the search. Default is 0


end	     -- Optional. An Integer. The position to end the search. Default is the end of the string

In [8]:
txt = "I love apples, apples are my favorite fruit"

x = txt.count("apples", 0 , 15)

print(x)

1

In [11]:
print("Hello Wolrd!".count("o"))

2

#### encode() 
Returns an encoded version of the string

In [12]:
txt = "My name is Ankit"

x = txt.encode()

print(x)

b'My name is Ankit'

In [13]:
type(x) # means by encoded it has been converted into bytes

bytes

In [14]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [15]:
type(x)

bytes

#### Definition and Usage

The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

#### Syntax:

`string.encode(encoding=encoding, errors=errors)`


Parameter	Description

 `encoding	`     Optional. A String specifying the encoding to use. Default is UTF-8

`errors`	     Optional. A String specifying the error method. Legal values are:

* `'backslashreplace' `    	- uses a backslash instead of the character that could not be encoded

* `'ignore'`     	- ignores the characters that cannot be encoded

* `'namereplace'`     	- replaces the character with a text explaining the character

* `'strict'`     	- Default, raises an error on failure

* `'replace'`     	- replaces the character with a questionmark

* `'xmlcharrefreplace'`     	- replaces the character with an xml character

In [16]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [9]:
txt = "ä"
print(txt.encode(encoding="ascii", errors="namereplace"))

b'\\N{LATIN SMALL LETTER A WITH DIAERESIS}'

In [10]:
txt = "ʩ"
print(txt.encode(encoding="ascii", errors="namereplace"))

b'\\N{LATIN SMALL LETTER FENG DIGRAPH}'

In [1]:
import base64

In [2]:
str1 = "this is string example ...wow!"

# encode string #str1.encode('utf-8', 'strict')

encoded_str = base64.b64encode(str1.encode('utf-8', "strict"))
print("Normal string : ", str1)
print()
print("Encoded string : ", encoded_str)

Normal string :  this is string example ...wow!

Encoded string :  b'dGhpcyBpcyBzdHJpbmcgZXhhbXBsZSAuLi53b3ch'

In [3]:
# we can decode a string back to it's original form

decoded_str = base64.b64decode(encoded_str.decode('utf-8', 'strict'))

print("Encoded string : ", encoded_str)
print()
print("Decoded string : ", decoded_str)

Encoded string :  b'dGhpcyBpcyBzdHJpbmcgZXhhbXBsZSAuLi53b3ch'

Decoded string :  b'this is string example ...wow!'

In [7]:
type(decoded_str)

bytes

In [10]:
print(str(decoded_str).strip("b'"))

this is string example ...wow!

In [11]:
import base64
text = "Hello world!"

encoded_text = base64.b64encode(text.encode("utf-8", "strict"))
print(text)
print(encoded_text)

Hello world!
b'SGVsbG8gd29ybGQh'

In [12]:
decoded_text = base64.b64decode(encoded_text.decode("utf-8", "strict"))
print(decoded_text)

b'Hello world!'

In [13]:
print(type(decoded_text))

<class 'bytes'>

In [17]:
str(decoded_text).strip("b'")

'Hello world!'

#### endswith()

`Definition and Usage`

The endswith() method returns True if the string ends with the specified value, otherwise False.

`Syntax`

`string.endswith(value, start, end)`

value --	Required. The value to check if the string ends with

start --	Optional. An Integer specifying at which position to start the search


end	  --  Optional. An Integer specifying at which position to end the search

In [20]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [21]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [22]:
# Check if position 5 to 11 ends with the phrase "my world.":

txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

#### expandtabs()

`Definition and Usage`

The `expandtabs()` method sets the tab size to the specified number of whitespaces.

`Syntax`

`string.expandtabs(tabsize)`

`tabsize`------	   Optional. A number specifying the tabsize. Default tabsize is 8

In [26]:
#### Set the tab size to 2 whitespaces:

txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [1]:
#### See the result using different tab sizes:

txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs()) # txt.expandtabs(tabsize=8) default tabsize is 8
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

#### find()

`Definition and Usage`

* The `find()` method finds the first occurrence of the specified value.

* The `find()` method returns `-1` if the value is not found.

* The `find()` method is almost the same as the `index()` method, the only difference is that the `index()` method raises an exception if the value is not found. (See example below)

`Syntax`

`string.find(value, start, end)`
* `value` 	Required. The value to search for


* `start`	Optional. Where to start the search. Default is 0


* `end`	    Optional. Where to end the search. Default is to the end of the string

In [2]:
# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [35]:
print("Hello World".find("o"))

4

In [36]:
print("Hello World".find("z"))

-1

Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

In [37]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

#### Example

If the value is not found, the `find()` method returns `-1`, but the `index()` method will raise an exception:

In [38]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

#### format()

`Definition and Usage`

* The `format()` method formats the specified value(s) and insert them inside the string's placeholder.

* The placeholder is defined using curly brackets: `{}`. Read more about the placeholders in the Placeholder section below.

* The `format()` method returns the formatted string.

`Syntax`

`string.format(value1, value2...)`

Parameter	------  Description


value1, 	------ Required. One or more values that should be

value2... -----  formatted and inserted in the string.

The values are either a list of values separated by commas, a key=value list, or a combination of both.

The values can be of any data type.

`The Placeholders` 

The placeholders can be identified using named indexes `{price}`, numbered indexes `{0}`, or even empty placeholders `{}`.

In [39]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [40]:
print("I bought this shirt at {} price".format("$200"))

I bought this shirt at $200 price

In [41]:
price = 200
fruit = "mango"

print("{0} is {1}/kg ".format( fruit,price))

mango is 200/kg

In [42]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

**Important Note**

`Formatting Types`

Inside the placeholders you can add a formatting type to format the result:

In [43]:
# "<"  Left aligns the result (within the available space)

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [3]:
txt = "We have {:<3} chickens."
print(txt.format(49))

We have 49  chickens.

In [33]:
print("hello {:-<20} world".format("in python"))

hello in python----------- world

In [45]:
print("Hello {:*<20} world".format("in python"))

Hello in python*********** world

In [46]:
#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [48]:
#Use ">" to right-align the value:

txt = "We have {:*>8} chickens."
print(txt.format(49))

We have ******49 chickens.

In [49]:
#Use ">" to right-align the value:

txt = "We have {:=>8} chickens."
print(txt.format(49))

We have ======49 chickens.

In [50]:
#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [54]:
txt = "hello {:>4} world!"
print(txt.format(","))

hello    , world!

In [51]:
# Use "^" to center-align the value:

txt = "We have {:-^8} chickens."
print(txt.format(49))

We have ---49--- chickens.

In [52]:
txt = "The temperature is {} degrees celsius."

print(txt.format(-5))

The temperature is -5 degrees celsius.

In [32]:
#Use "=" to place the plus/minus sign 
# at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [5]:
txt = "The temperature is {:=3} degrees celsius."

print(txt.format(-5))

The temperature is - 5 degrees celsius.

In [33]:
txt = "In winter temp. goes {:=6} degree celsius"
print(txt.format(-5))

In winter temp. goes -    5 degree celsius

In [34]:
#Use "+" to always indicate if the number is
# positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [35]:
print("{:+} *C and {:+} *C".format(-14, 25))

-14 *C and +25 *C

In [36]:
#Use "-" to always indicate if the number is
# negative (positive numbers are displayed
# without any sign):

txt = "The temperature is between {:-} and {:-} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [37]:
print("{:-}*c and {:-}*c".format(-3, 8))

-3*c and 8*c

In [56]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {:} and {:} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [57]:
print("Hello world {:" "}, welcome to Python Programming".format("friends"))

Hello world friends, welcome to Python Programming

In [58]:
print("{:}*c and {:}*c".format(-3, 8))

-3*c and 8*c

In [59]:
#Use "," to add a comma as a 
# thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [60]:
print("the value is {:,} Rupees".format(1000503))

the value is 1,000,503 Rupees

In [61]:
print("${:,}.".format(15000))

$15,000.

In [62]:
print("${:,}.".format(15000345))

$15,000,345.

In [63]:
#Use "_" to add a underscore character as a thousand separator:

txt = "The universe is {:_} years old."

print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [64]:
print("${:_}.".format(15000352))

$15_000_352.

In [65]:
print("${:#^20}.".format(15000352))

$######15000352######.

In [66]:
#Use "b" to convert the number into binary format:

txt = "The binary version of {0} is {0:b}"

print(txt.format(5))

The binary version of 5 is 101

In [43]:
txt = "The binary version of {0} is {0:b}"

print(txt.format(5))

The binary version of 5 is 101

In [3]:
print("binary of {0} is {0:b}".format(5))

binary of 5 is 101

In [2]:
print("binary of {0} is {0:b}".format(9))

binary of 9 is 1001

In [1]:
while True:
    try:
        num = int(input("please enter integer: "))
        break
    except:
        print("It seems wrong input")
        
        
print("The binary version of {0} is :{0:b}".format(num))

please enter integer: h
It seems wrong input
please enter integer: 9
The binary version of 9 is :1001

#### :c	

Converts the value into the corresponding unicode character

In [69]:
txt = "The version of {0} is {0:c}"

print(txt.format(5))

The version of 5 is 

In [70]:
txt = "The version of {0} is {0:c}"

print(txt.format(12))

The version of 12 is

In [71]:
# Use "d" to convert a number, in this case 
# a binary number, into decimal number
# format:

txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [72]:
txt = "We have {:d} chickens."
print(txt.format(5.000000e+00))

ValueError: Unknown format code 'd' for object of type 'float'

we can't convert 'scientific' value into number by using 'd' we can convert it by using general format, will see it later

In [73]:
#Use "e" to convert a number into scientific
# number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

In [74]:
#Use "E" to convert a number into scientific
# number format (with an upper-case E):

txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

In [77]:

txt = "We have {:E} chickens."
print(txt.format(50000.344))

We have 5.000034E+04 chickens.

In [5]:

txt = "We have {:.2E} chickens."
print(txt.format(34883.34))

We have 3.49E+04 chickens.

In [11]:

txt = "We have {:.2e} chickens."
print(txt.format(5.2))

We have 5.20e+00 chickens.

In [6]:
int(2.3e+2)

230

In [7]:
# by int casting we can convert scietific value to interger value 
a = 23.23e+3
int(a)

23230

#### Use "f" 

to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:

In [82]:
txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.000000 dollars.

In [83]:
txt = "The price is {:.2f} dollars."
print(txt.format(45))

The price is 45.00 dollars.

In [84]:
# without the ".2" inside the placeholder,
# this number will be displayed like this:


txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.000000 dollars.

In [85]:
txt = "The price is {0:f} dollars."
print(txt.format(45))

The price is 45.000000 dollars.

In [86]:
txt = "The price is {:10.2f} dollars."
print(txt.format(45))

# here we have taken 10 places before the decimal place and we have only 2 digit before the decimal so
# it has been paded with 'whitespace' to cover rest place

The price is      45.00 dollars.

#### Use "F" 

to convert a number into a fixed point number, but display inf and nan as INF and NAN:

In [87]:
x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

The price is INF dollars.

In [66]:
x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

The price is INF dollars.

In [20]:
x = float('nan')

txt = "The price is {:F} dollars."
print(txt.format(x))

The price is NAN dollars.

In [67]:
#same example, but with a lower case f:
x = float('inf')
txt = "The price is {:f} dollars."
print(txt.format(x))

The price is inf dollars.

####  to convert scientific to general form 

`:g	`-------	General format

`:G	`	------  General format (using a upper case E for scientific notations)

In [19]:
# this is important and need to keep in mind whenever we want to convert scientific 
# to general and  if it is in float we can convert it into integer.
txt = "The price is {:g} dollars."
print(txt.format(3.4546e+2))

The price is 345.46 dollars.

In [20]:
txt = "The price is {:G}g dollars."
print(txt.format(3.4546E+2))

The price is 345.46g dollars.

In [21]:
txt = "The price is {:G}g dollars."
print(txt.format(3.4546e+2))

The price is 345.46g dollars.

In [22]:
txt = "The price is {:g}g dollars."
print(txt.format(5.000000e+00))

The price is 5g dollars.

In [23]:
txt = "The price is {:G} dollars."
print(txt.format(5.000000e+00))

The price is 5 dollars.

In [24]:
txt = "The price is {:g} dollars."
print(txt.format(5.34e3))

The price is 5340 dollars.

In [25]:
txt = "The price is {:g} dollars."
print(txt.format(5.343))

The price is 5.343 dollars.

In [26]:
txt = "The price is {:g} dollars."
print(txt.format(5.34e3))

The price is 5340 dollars.

In [27]:
print(type(5.3e3))

<class 'float'>

In [8]:
# note - scietific notation is a float value 

num = input("Enter the Scientific value:")
gen_num = "{:g}".format(eval(num))


print(f"The scientific value {num} in integer : {gen_num}")

Enter the Scientific value:2.34e+2
The scientific value 2.34e+2 in integer : 234

In [19]:
# we can use very simple way as well
num = input("Enter the Scientific value:")
print(f"The scientific value {num} in integer : {float(num)}")

Enter the Scientific value:23.3e+5
The scientific value 23.3e+5 in integer : 2330000.0

#### to convert Octal format

In [28]:
#Use "o" to convert the number into octal format:

txt = "The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

In [29]:
txt = "The octal version of {0} is {0:o}"

print(txt.format(25))

The octal version of 25 is 31

In [ ]:
txt = "The octal version of {0} is {0:o}"

print(txt.format(25))

In [2]:
oct(25)

'0o31'

In [18]:
txt = "Normal version of Octal number is : {:n}"

print(txt.format(0o31))

Normal version of Octal number is : 25

#### To convert Hex format

In [82]:
#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(255))

The Hexadecimal version of 255 is ff

In [12]:
#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(111))

The Hexadecimal version of 111 is 6f

In [14]:
num = int(input("Enter the number and get Hex value of the number: "))
print("{0}'s Hex value is : {0:x}".format(num))

Enter the number and get Hex value of the number: 111
111's Hex value is : 6f

#### to convert upper case hex code

In [15]:
#Use "X" to convert the number into upper-case Hex format:

txt = "The Hexadecimal version of {0} is {0:X}"

print(txt.format(255))

The Hexadecimal version of 255 is FF

In [16]:
#Use "X" to convert the number into upper-case Hex format:

txt = "The Hexadecimal version of {0} is {0:X}"

print(txt.format(int(input("Enter the number: "))))

Enter the number: 255
The Hexadecimal version of 255 is FF

#### :n --- normal format

In [17]:
txt = "The Normal version of {0} is {0:n}"

print(txt.format(12.36e+3))

The Normal version of 12360.0 is 12360

In [18]:
txt = "The Normal version of {0} is {0:n}"

print(txt.format(125.00))

The Normal version of 125.0 is 125

In [19]:
txt = "The Normal version of {0} is {0:n}"

print(txt.format(125.01))

The Normal version of 125.01 is 125.01

In [19]:
txt = "The Normal version of {0} is {0:n}"

print(txt.format(125.01))

The Normal version of 125.01 is 125.01

In [21]:
txt = "The Normal version of {0} is {0:n}"

print(txt.format(125.2334))

The Normal version of 125.2334 is 125.233

#### To convert % Format

In [22]:
#Use "%" to convert the number into a percentage format:

txt = "You scored {:%}"
print(txt.format(0.25))
# but after decimal default value is 6 places

You scored 25.000000%

In [23]:
# to reduce places after the decimal place we can use :.2f
txt = "You scored {:.2%}"
print(txt.format(0.25))

You scored 25.00%

In [24]:
#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25%

In [26]:
txt = "You scored {:.2f} %"
print(txt.format(25))

You scored 25.00 %