#### Python Dates
A date in Python is not a data type of its own, but we can import a module named `datetime` to work with dates as date objects.

In [2]:
import datetime

x = datetime.datetime.now()
print(x)

2022-04-19 16:08:15.780683

#### Date Output
When we execute the code from the example above the result will be:

`2022-03-22 13:53:39.576354`
The date contains year, month, day, hour, minute, second, and microsecond.

The `datetime` module has many methods to return information about the date object.

Here are a few examples, you will learn more about them later in this chapter:

In [3]:
import datetime

x = datetime.datetime.now()
print(x.year)
print(x.strftime("%A"))

2022
Tuesday

In [4]:
import datetime

x = datetime.datetime.now()
print(x.year)
print(x.month)
print(x.weekday())

2022
4
1

#### Creating Date Objects
To create a date, we can use the `datetime()` class (constructor) of the `datetime` module.

The `datetime()` class requires three parameters to create a date: year, month, day.

In [5]:
import datetime

x = datetime.datetime(2020, 5,17)

print(x)

2020-05-17 00:00:00

The `datetime()` class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of` 0`, (`None` for timezone).

#### The strftime() Method

The `datetime` object has a method for formatting date objects into readable strings.

The method is called `strftime()`, and takes one parameter, format, to specify the `format` of the returned string:

#### Example

Display the name of the month:

In [6]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [7]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%b"))

Jun

#### The strftime() Method

`%a   Weekday, short version---  Wed`

In [8]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%a"))

Tue

`%A	Weekday, full version	Wednesday`

In [9]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%A"))

Tuesday

`%w	Weekday as a number 0-6, 0 is Sunday	3`

In [10]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%w"))

2

`%d	Day of month 01-31	31`

In [11]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%d"))

19

`%b	Month name, short version	Dec`

In [12]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%b"))

Apr

`%B	Month name, full version	December`

In [13]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%B"))

April

`%m	Month as a number 01-12	12`

In [14]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%m"))

04

`%y	Year, short version, without century	18`

In [15]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%y"))

22

`%Y	Year, full version	2018`

In [16]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%Y"))

2022

`%H	Hour 00-23	17`

In [17]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%H"))

16

`%I	Hour 00-12	05`

In [18]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%I"))

04

`%p	AM/PM	PM`

In [19]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%p"))

PM

`%M	Minute 00-59	41`

In [22]:
import datetime
 
x = datetime.datetime.now()

print(x.strftime("%M"))

27

`%S	Second 00-59	08`

In [24]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%S"))

55

`%f	Microsecond 000000-999999	548513`

In [25]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%f"))

795114

`%z	UTC offset	+0100`

In [26]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%z"))

`%Z	Timezone	CST`

In [27]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%Z"))

`%j	Day number of year 001-366	365`

In [28]:
import datetime
x = datetime.datetime.now()

print(x.strftime("%j"))

081

In [29]:
import datetime

x = datetime.datetime(2018, 6, 1) # can't add
                                 # 0 like 06
print(x.strftime("%j"))

152

`%U	Week number of year, Sunday as the first day of week, 00-53	52`

In [31]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%U"))

12

`%W	Week number of year, Monday as the first day of week, 00-53	52`

In [32]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%W"))

12

`%c	Local version of date and time	Mon Dec 31 17:41:00 2018`

In [33]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Tue Mar 22 14:41:55 2022

`%C	Century	20`

In [34]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%C"))

20

`%x	Local version of date	12/31/18`

In [35]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%x"))

03/22/22

`%X	Local version of time	17:41:00`

In [36]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%X"))

15:01:02

`%%	A % character	%`

In [37]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%%"))

%

`%G	ISO 8601 year	2018`

In [38]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%G"))

2022

`%u	ISO 8601 weekday (1-7)	1`

In [39]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%u"))

2

`%V	ISO 8601 weeknumber (01-53)	01`

In [40]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%V"))

12

Thank You üëç