### Lists

#### Python Collections (Arrays)
There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.

* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

* **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

#### List
Lists are used to store multiple items in a single variable.

Lists are `one of 4 built-in data types in Python used to store collections of data`, the other 3 are `Tuple`, `Set`, and `Dictionary`, all with different qualities and usage.

Lists are created using square brackets:

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [3]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [4]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [5]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

#### `List Items`
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

#### `Ordered`
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

**Note:** There are some list methods that will change the order, but in general: the order of the items will not change.

#### `Changeable`
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

#### `Allow Duplicates`
Since lists are indexed, lists can have items with the same value:

In [1]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

#### `List Length`
To determine how many items a list has, use the `len()` function:

In [2]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

#### `List Items - Data Types`

List items can be of any data type:

In [5]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]


print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

#### `type()`
From Python's perspective, lists are defined as objects with the data type` 'list'`:

In [6]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

### The list() Constructor
It is also possible to use the `list()` constructor when creating a new list.

In [6]:
thislist = list(("Apple", "Banana", "Cherry"))

# note the double round paranthesis
print(thislist)

['Apple', 'Banana', 'Cherry']

In [7]:
newlist = list(("apple", "banana"))
print(newlist)

['apple', 'banana']

### `Access Items`
List items are indexed and you can access them by referring to the `index number`:

In [7]:
# Access Items
print(thislist[0])

Apple

In [8]:
print(thislist[1])

Banana

**Note:** The first item has` index 0`.

Negative Indexing
Negative indexing means start from the end

`-1` refers to the last item, `-2` refers to the second last item etc.

In [9]:
print(thislist[-1])

Cherry

In [10]:
thislist = ["apple", "banana",  "cherry"]
print(thislist[-2])

banana

#### Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

**Note:** The search will start at `index 2` (included) and end at `index 5` (not included).

Remember that the first item has `index 0`.

By leaving out the start value, the range will start at the first item:

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [15]:
print(thislist[-2:-4])
# it must be return nothing (empty list)

[]

#### Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

In [14]:
if "apple" in thislist:
    print("Yes, 'apple' is in the fruit list")

Yes, 'apple' is in the fruit list

### Change List Items

To change the value of a specific item, refer to the index number:

In [6]:
thislist = ["apple", "banana", "cherry"]

In [7]:
thislist[1] = "blakcurrant"

In [8]:
print(thislist)

['apple', 'blakcurrant', 'cherry']

#### Change a Range of Item Values

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [19]:
# Change a Range of Item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

# Note: The length of the list will change 
# when the number of items inserted does not
# match the number of items replaced.

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [22]:
# before adding len of the list was 3 but now let's see
print(len(thislist))

4

In [6]:
# If you insert less items than you replace,
# the new items will be inserted where you 
# specified, and the remaining items will 
# move accordingly:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [7]:
thislist = ["apple", "banana", "cherry", "mango", "watermelon"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'mango', 'watermelon']

As we can see that we wanted to replace 1:3 means "banana" and " cherry" but we gave only one item so that two places will be taken by only one and rest all move accordingly

### Insert Items

To insert a new list item, without replacing any of the existing values, we can use the `insert()` method.

The `insert()` method inserts an item at the specified index:

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [25]:
thislist.insert(0, "mango")
print(thislist)

['mango', 'apple', 'banana', 'watermelon', 'cherry']

### `Add List Items`


#### Append Items
To add an item to the end of the list, use the `append()` method:

In [26]:
# Append
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [27]:
# if we want to add an item in list at a
# specific place then we should use 'insert'
# method to add the item

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")

print(thislist)

['apple', 'orange', 'banana', 'cherry']

#### Extend List

To append elements from another list to the current list, use the `extend()` method.

In [11]:
# To append elements from another list to
# the current list, use the extend() method.

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)
# now let's see 
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# As we can see that we have sucessfully
# added a list into another list

#### Add Any Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [30]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)
print(thislist) # when we extended tuple it converted as an part of list not as a tuple

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.extend(thislist)
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

### Remove List Items

#### Remove Specified Item
The `remove()` method removes the specified item.

In [11]:
# remove method
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

#### Remove Specified Index
The `pop()` method removes the specified index.

In [12]:
# Remove specific Index

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.pop() # pop method remove last item
print(thislist) # if index not provided

['apple', 'banana']

#### del 
The `del` keyword also removes the specified index:

In [14]:
# 'del' keyword also removes the specific index

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [15]:
# The del keyword can also delete the list 
# completely.

thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

#### Clear the List
The `clear()` method empties the list.

The list still remains, but it has no content

In [16]:
# The clear() method empties the list.

# The list still remains, but it has no content.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

### Loop Lists

#### Loop Through a List
You can loop through the list items by using a `for loop`:

In [17]:
thislist = ["apple", "banana", "cherry"]

for x in thislist:
    print(x)

apple
banana
cherry

In [18]:
thislist = ["apple", "banana", "cherry"]

for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

#### Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the `range()` and `len()` functions to create a suitable iterable.

In [13]:
thislist = ["apple", "banana", "cherry"]

for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

### using a While Loop 

You can loop through the list items by using a `while` loop

Use the `len()` function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [14]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

#### Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

In [20]:
# Looping Using List Comprehension 
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [21]:
thislist = ["apple", "banana", "cherry"]
[x for x in thislist]

['apple', 'banana', 'cherry']

### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter `"a"` in the name.

Without list comprehension you will have to write a `for` statement with a conditional test inside:

In [22]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a"in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [23]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if x[0].lower() == "a":
        newlist.append(x)

print(newlist)

['apple']

#### The Syntax

`newlist = [expression for item in iterable if condition == True]`

The return value is a new list, leaving the old list unchanged.

#### Condition
The condition is like a filter that only accepts the items that valuate to True.

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x!= "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [47]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [48]:
#newlist = [expression for item in iterable if condition == True]

In [49]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [51]:
newlist = [x for x in fruits if x != "apple" and  "banana"]
print(newlist)
# didn't work because havent given any condition
# after and value

['banana', 'cherry', 'kiwi', 'mango']

In [24]:
newlist = [x for x in fruits if x != "apple" and x != "banana"]
print(newlist)
# this time it will work fine

['cherry', 'kiwi', 'mango']

### Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

In [53]:
newlist = [x for x in range(10)]

In [54]:
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
newlist = [x for x in range(10) if x <5]
newlist

[0, 1, 2, 3, 4]

#### Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [57]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [58]:
# You can set the outcome to whatever you like:

newlist = ["hello" for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

In [60]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [61]:
newlist = [x if x!= "banana" else "orange" for x in fruits]
newlist
# "Return the item if it is not banana,
# if it is banana return orange".

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [62]:
# in above code we got "orange" wherever "banana" was

In [64]:
a = "Hello world!"
[x if x !="H" else "h" for x in a]

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [67]:
[x for x in range(1, 16) if x%2!= 0]

[1, 3, 5, 7, 9, 11, 13, 15]

### Sort Lists


#### Sort List Alphanumerically

List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default:

In [16]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [17]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

**note** sort method not supported between instances of `'int'` and `'str'`

In [25]:
thislist = ["apple", "banana", "mango",12,3,4]
thislist.sort()
print(thislist)

TypeError: '<' not supported between instances of 'int' and 'str'

#### Sort Descending
To sort descending, use the keyword argument reverse = True:

In [18]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [19]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

#### Customize Sort Function
You can also customize your own function by using the keyword argument `key = function.`

The function will return a number that will be used to sort the list (the lowest number first):

In [20]:
# Sort the list based on how close 
# the number is to 50:
def myfunc(n):
    return abs(n-50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key= myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [21]:
def myfunc(n):
    return abs(n-100)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key=myfunc)
print(thislist)

[100, 82, 65, 50, 23]

#### Case Insensitive Sort
By default the `sort()` method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [22]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [23]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key= str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

#### Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The `reverse()` method reverses the current sorting order of the elements.

In [76]:
### Reverse Order
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [24]:
# it reverse item inside list
thislist = ["banana", "orange", "kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'kiwi', 'orange', 'banana']

### Copy a List

You cannot copy a list simply by typing `list2 = list1`, because: `list2` will only be a reference to `list1`, and changes made in `list1` will automatically also be made in `list2`.

There are ways to make a copy, one way is to use the built-in List method `copy()`.

In [26]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [27]:
mylist.append("mango")
print(thislist)
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango']

In [28]:
# Another way to make a copy is to use the
#built-in method list().
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [81]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [82]:

mylist.append("mango")
mylist

['apple', 'banana', 'cherry', 'mango']

In [83]:
thislist

['apple', 'banana', 'cherry']

### Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the `+` operator.

In [84]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [85]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list2 + list1
print(list3)

[1, 2, 3, 'a', 'b', 'c']

In [86]:
# another way of joining 
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the `extend()` method, which purpose is to add elements from one list to another list:

In [87]:
# By extend Method 
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### List Methods
Python has a set of built-in methods that you can use on lists.

Method	             Description

append()          --  Adds an element at the end of the list

clear()           -- 	Removes all the elements from the list

copy()	          --  Returns a copy of the list

count()	          --  Returns the number of elements with the specified value

extend()	      --  Add the elements of a list (or any iterable), to the end of the current list

index()	          --  Returns the index of the first element with the specified value

insert()	      --  Adds an element at the specified position

pop()	          --  Removes the element at the specified position

remove()	      --  Removes the item with the specified value

reverse()	      --  Reverses the order of the list

sort()          --	Sorts the list

In [29]:
# append()
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [30]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

print(a)
# when we append a complete list then 
# it make nested list

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [31]:
# clear()
# Remove all elements from the fruits list:
a = ["apple", "banana", "cherry"]
a.clear()
print(a)

[]

In [33]:
# copy()

# Copy the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [34]:
# count()

# Return the number of times the value 
# "cherry" appears in the fruits list:

fruits = ['apple', 'banana', 'cherry','mango']

x = fruits.count("cherry")
print(x)

1

In [36]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)
print(x)

2

In [38]:
# extend()

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

#### extend()

The `extend()` method adds the specified list elements (or any iterable) to the end of the current list.

`Syntax`

`list.extend(iterable)`

In [39]:
ruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', 'Ford', 'BMW', 'Volvo']

In [41]:
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

#### index()

The `index()` method returns the position at the first occurrence of the specified value.

`Syntax`

`list.index(elmnt)`

In [43]:
# What is the position of the value "cherry":

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

`Note:` The index() method only returns the first occurrence of the value.

In [44]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)
print(x)

3

In [46]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)
print(x)

3

#### insert
The `insert()` method inserts the specified value at the specified position.

`Syntax`

`list.insert(pos, elmnt)`

In [47]:
#Insert the value "orange" as the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

#### pop()

The `pop()` method removes the element at the specified position.

`Syntax`

`ist.pop(pos)`

In [48]:
#Remove the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

'banana'

In [49]:

fruits = ['apple', 'banana', 'cherry']

fruits.pop()

'cherry'

**note** when don't provide index number 
it pop last element of the list

#### Renove()

The `remove()` method removes the first occurrence of the element with the specified value.

`Syntax`

`list.remove(elment)`

In [54]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [56]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove(1)
print(fruits)

## it doesn't take index

ValueError: list.remove(x): x not in list

####  reverse()

The `reverse()` method reverses the sorting order of the elements.

`Syntax`

`list.reverse()`

In [58]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

#### list sort

The `sort()` method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

`Syntax`

`list.sort(reverse=True|False, key=myFunc)`



* `reverse`----	Optional. reverse=True will sort the list descending. Default is reverse=False

* `key`----	Optional. A function to specify the sorting criteria(s)

In [60]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [62]:
# A function that returns the length of
# the value:
# means sort by len value
def myFunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key= myFunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [63]:
# Sort a list of dictionaries based on the 
# "year" value of the dictionaries:

def myFunc(e):
    
    return e["year"]

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [64]:
# by car alphabet 
def myFunc(e):
    
    return e["car"]

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
print(cars)

[{'car': 'BMW', 'year': 2019}, {'car': 'Ford', 'year': 2005}, {'car': 'Mitsubishi', 'year': 2000}, {'car': 'VW', 'year': 2011}]

#### when reverse is True

In [66]:
# A function that returns the length of the value:
def myFunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)
print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

Thank you for having Patience