### Python Numbers
There are three numeric types in Python:

* int

* float

* complex

Variables of numeric types are created when you assign a value to them:

In [1]:
x = 1     # int
y = 2.8   # float 
z = 1j    # complex

To verify the type of any object in Python, use the `type()` function:

In [2]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [3]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [4]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [1]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [6]:
print(float(12.2e3))

12200.0

In [7]:
print(float(12.2E3))

12200.0

In [3]:
print(float(-87.7e10))

-877000000000.0

### Complex
Complex numbers are written with a "j" as the imaginary part:

In [8]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [9]:
print(2+0j)

(2+0j)

In [10]:
print(complex(3+0j))

(3+0j)

In [4]:
print(complex(2))

(2+0j)

### Type Conversion
You can convert from one type to another with the `int()`, `float()`, and `complex()` methods:

In [11]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# convert from int to float 
a = float(x)

# convert from float to int:

b = int(y)

# convert from int to complex:

c = complex(x)

print(a)
print(b)
print(c)
# now let's check  the type of these as well
print()
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)

<class 'float'>
<class 'int'>
<class 'complex'>

In [12]:
z = int(1j)
print(z)

# Important note TypeError: can't convert complex to int

TypeError: can't convert complex to int

### Random Number
Python does not have a `random()` function to make a random number, but Python has a built-in module called `random` that can be used to make random numbers:

#### Example
Import the random module, and display a random number between 1 and 9:

In [5]:
import random 

print(random.randrange(1, 10))

3

In [6]:
import random 

print(random.randint(1, 20))

14

In [7]:
import random 

print(random.random())

0.9672596716258782

In [8]:
import random 

print(random.sample(range(20), 10))

[11, 14, 13, 7, 2, 15, 9, 0, 10, 17]

In [9]:
import random 

print(random.sample(range(100), 20))

[29, 82, 31, 67, 15, 16, 94, 71, 8, 10, 22, 5, 1, 14, 17, 11, 57, 53, 52, 61]

In [11]:
import random

# to generate same number every time we can use seed
random.seed(0)
print(random.sample(range(10), 5))

[6, 9, 0, 2, 4]

In [13]:
import random
random.seed(20)
print(random.randint(10,18))

12

### Python Casting

#### Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

* `int() -` constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

* `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

* `str() -` constructs a string from a wide variety of data types, including strings, integer literals and float literals

#### Integers

In [22]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

#### Floats

In [23]:
x = float(1)   # x will be 1.0
y = float(2.8) # y will be 2.8
z = float("3") # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

#### Strings

In [24]:
x = str("s1")   # x will be 's1'
y = str(2)      # y will be '2'
z = str(3.0)    # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

In [14]:
# But we can't convert alpha string into integ or floats

a = float("Hello")
a

ValueError: could not convert string to float: 'Hello'

In [15]:
a = int("Hello")
a

ValueError: invalid literal for int() with base 10: 'Hello'