#### String Methods

Python has a set of built-in methods that you can use on strings.

**Note:** All string methods returns new values. They do not change the original string.

*   **capitalize()**

In [1]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

#### Definition and Usage

The `capitalize()` method returns a string where the first character is upper case, and the rest is lower case.

#### Syntax
`string.capitalize()`

#### Parameter Values
No parameters

The first character is converted to upper case, and the rest are converted to lower case:

In [2]:
txt = "python is FUN!"

x = txt.capitalize()
print(x)

Python is fun!

In [3]:
# See what happens if the first character is a number:

txt = "36 is my age"

x = txt.capitalize()

print(x)

36 is my age

means if digit come first before letter then capitalize will not convert upper case to the word just after digit.

In [4]:
txt = "36 Is My age"

x = txt.capitalize()

print(x)

36 is my age

#### casefold() 
Converts string into lower case

#### Definition and Usage
The `casefold()` method returns a string where all the characters are lower case.

This method is similar to the `lower()` method, but the `casefold()` method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

#### Syntax
`string.casefold()`
Parameter Values
No parameters

In [5]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [6]:
print("I love Python World!".casefold())

i love python world!

#### center()	
Returns a centered string

`Example:`
Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

In [13]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

#### Definition and Usage
The `center()` method will center align the string, using a specified character (space is default) as the fill character.

#### Syntax
`string.center(length, character)`

#### Parameter Values 

Parameter  ---	Description

length	    --- Required. The length of the returned string

character	--- Optional. The character to fill the missing space on each side. Default is " " (space)

In [9]:
txt = "banana"

x = txt.center(20, "o")
print(x)

ooooooobananaooooooo

In [10]:
print("banana".center(20, "-"))

-------banana-------

In [11]:
print("banana".center(20, "#"))

#######banana#######

In [12]:
print("banana".center(20, "*"))

*******banana*******

#### count()	

Returns the number of times a specified value occurs in a string

In [14]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")
print(x)

2

value  	  -- Required. A String. The string to value to search for


start	  -- Optional. An Integer. The position to start the search. Default is 0


end	     -- Optional. An Integer. The position to end the search. Default is the end of the string

In [15]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10 , 20)

print(x)

1

In [16]:
print("Hello Wolrd!".count("o"))

2

#### encode() 
Returns an encoded version of the string

In [18]:
txt = "My name is Ankit"

x = txt.encode()

print(x)

b'My name is Ankit'

In [19]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

#### Definition and Usage

The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

#### Syntax:

`string.encode(encoding=encoding, errors=errors)`


Parameter	Description

 `encoding	`     Optional. A String specifying the encoding to use. Default is UTF-8

`errors`	     Optional. A String specifying the error method. Legal values are:

* `'backslashreplace' `    	- uses a backslash instead of the character that could not be encoded

* `'ignore'`     	- ignores the characters that cannot be encoded

* `'namereplace'`     	- replaces the character with a text explaining the character

* `'strict'`     	- Default, raises an error on failure

* `'replace'`     	- replaces the character with a questionmark

* `'xmlcharrefreplace'`     	- replaces the character with an xml character

In [20]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

#### endswith()

`Definition and Usage`

The endswith() method returns True if the string ends with the specified value, otherwise False.

`Syntax`

`string.endswith(value, start, end)`

value --	Required. The value to check if the string ends with

start --	Optional. An Integer specifying at which position to start the search


end	  --  Optional. An Integer specifying at which position to end the search

In [22]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [24]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [25]:
# Check if position 5 to 11 ends with the phrase "my world.":

txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

#### expandtabs()

`Definition and Usage`

The `expandtabs()` method sets the tab size to the specified number of whitespaces.

`Syntax`

`string.expandtabs(tabsize)`

`tabsize`------	   Optional. A number specifying the tabsize. Default tabsize is 8

In [28]:
#### Set the tab size to 2 whitespaces:

txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [30]:
#### See the result using different tab sizes:

txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

#### find()

`Definition and Usage`

* The `find()` method finds the first occurrence of the specified value.

* The `find()` method returns `-1` if the value is not found.

* The `find()` method is almost the same as the `index()` method, the only difference is that the `index()` method raises an exception if the value is not found. (See example below)

`Syntax`

`string.find(value, start, end)`
* `value` 	Required. The value to search for


* `start`	Optional. Where to start the search. Default is 0


* `end`	    Optional. Where to end the search. Default is to the end of the string

In [32]:
# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [33]:
print("Hello World".find("o"))

4

In [37]:
print("Hello World".find("z"))

-1

Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

In [35]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

#### Example

If the value is not found, the `find()` method returns `-1`, but the `index()` method will raise an exception:

In [36]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

#### format()

`Definition and Usage`

* The `format()` method formats the specified value(s) and insert them inside the string's placeholder.

* The placeholder is defined using curly brackets: `{}`. Read more about the placeholders in the Placeholder section below.

* The `format()` method returns the formatted string.

`Syntax`

`string.format(value1, value2...)`

Parameter	------  Description


value1, 	------ Required. One or more values that should be

value2... -----  formatted and inserted in the string.

The values are either a list of values separated by commas, a key=value list, or a combination of both.

The values can be of any data type.

`The Placeholders` 

The placeholders can be identified using named indexes `{price}`, numbered indexes `{0}`, or even empty placeholders `{}`.

In [39]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [43]:
print("I bought this shirt at {} price".format("$200"))

I bought this shirt at $200 price

In [48]:
price = 200
fruit = "mango"

print("{0} is {1}/kg ".format( fruit,price))

mango is 200/kg

In [49]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

**Important Note**

`Formatting Types`

Inside the placeholders you can add a formatting type to format the result:

In [50]:
# "<"  Left aligns the result (within the available space)

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [56]:
print("hello {:-<20} world".format("in python"))

hello in python----------- world

In [58]:
print("Hello {:*<20} world".format("in python"))

Hello in python*********** world

In [59]:
#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [60]:
#Use ">" to right-align the value:

txt = "We have {:*>8} chickens."
print(txt.format(49))

We have ******49 chickens.

In [61]:
#Use ">" to right-align the value:

txt = "We have {:=>8} chickens."
print(txt.format(49))

We have ======49 chickens.

In [62]:
#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [64]:
#Use "^" to center-align the value:

txt = "We have {:-^8} chickens."
print(txt.format(49))

We have ---49--- chickens.

In [65]:
#Use "=" to place the plus/minus sign 
# at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [66]:
txt = "In winter temp. goes {:=6} degree celsius"
print(txt.format(-5))

In winter temp. goes -    5 degree celsius

In [67]:
#Use "+" to always indicate if the number is
# positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [72]:
print("{:+} *C and {:+} *C".format(-14, 25))

-14 *C and +25 *C

In [73]:
#Use "-" to always indicate if the number is
# negative (positive numbers are displayed
# without any sign):

txt = "The temperature is between {:-} and {:-} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [74]:
print("{:-}*c and {:-}*c".format(-3, 8))

-3*c and 8*c

In [75]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {: } and {: } degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

In [76]:
print("{:}*c and {:}*c".format(-3, 8))

-3*c and 8*c

In [77]:
#Use "," to add a comma as a 
# thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [80]:
print("the value is {:,} Rupees".format(1000503))

the value is 1,000,503 Rupees

In [81]:
print("${:,}.".format(15000))

$15,000.

In [85]:
print("${:,}.".format(15000345))

$15,000,345.

In [86]:
#Use "_" to add a underscore character as a thousand separator:

txt = "The universe is {:_} years old."

print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [88]:
print("${:_}.".format(15000352))

$15_000_352.

In [91]:
print("${:#^20}.".format(15000352))

$######15000352######.

In [92]:
#Use "b" to convert the number into binary format:

txt = "The binary version of {0} is {0:b}"

print(txt.format(5))

The binary version of 5 is 101

In [93]:
txt = "The binary version of {0} is {0:b}"

print(txt.format(5))

The binary version of 5 is 101

In [94]:
print("binary of 5 is {0:b}".format(5))

binary of 5 is 101

In [95]:
print("binary of 9 is {0:b}".format(9))

binary of 9 is 1001

In [7]:
while True:
    try:
        num = int(input("please enter integer: "))
        break
    except:
        print("It seems wrong input")
        continue
        
print("The binary version of {0} is :{0:b}".format(num))

please enter integer: 12
The binary version of 12 is :1100

#### :c	

Converts the value into the corresponding unicode character

In [10]:
txt = "The version of {0} is {0:c}"

print(txt.format(5))

The version of 5 is 

In [12]:
txt = "The version of {0} is {0:c}"

print(txt.format(12))

The version of 12 is

In [13]:
# Use "d" to convert a number, in this case 
# a binary number, into decimal number
# format:

txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [1]:
#Use "e" to convert a number into scientific
# number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

In [2]:
#Use "E" to convert a number into scientific
# number format (with an upper-case E):

txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

#### Use "f" 

to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:

In [3]:
txt = "The price is {:.2f} dollars."
print(txt.format(45))

The price is 45.00 dollars.

In [4]:
# without the ".2" inside the placeholder,
# this number will be displayed like this:

xt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.00 dollars.

In [6]:
txt = "The price is {:10.2f} dollars."
print(txt.format(45))

The price is      45.00 dollars.

#### Use "F" 

to convert a number into a fixed point number, but display inf and nan as INF and NAN:

In [7]:
x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

The price is INF dollars.

In [8]:
x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

The price is INF dollars.

In [10]:
#same example, but with a lower case f:
x = float('inf')
txt = "The price is {:f} dollars."
print(txt.format(x))

The price is inf dollars.

####  to convert scientific to general form 

`:g	`-------	General format

`:G	`	------  General format (using a upper case E for scientific notations)

In [20]:
xt = "The price is {:g} dollars."
print(txt.format(3.4546e+2))

The price is 345.460000 dollars.

In [13]:
xt = "The price is {:G} dollars."
print(txt.format(5.000000e+00))

The price is 5.000000 dollars.

In [15]:
xt = "The price is {:g} dollars."
print(txt.format(5.34e3))

The price is 5340.000000 dollars.

#### to convert Octal format

In [22]:
#Use "o" to convert the number into octal format:

txt = "The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

In [24]:
txt = "The octal version of {0} is {0:o}"

print(txt.format(25))

The octal version of 25 is 31

#### To convert Hex format

In [25]:
#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(255))

The Hexadecimal version of 255 is ff

In [26]:
#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(111))

The Hexadecimal version of 111 is 6f

#### to convert upper case hex code

In [27]:
#Use "X" to convert the number into upper-case Hex format:

txt = "The Hexadecimal version of {0} is {0:X}"

print(txt.format(255))

The Hexadecimal version of 255 is FF

#### :n --- normal format

In [33]:
txt = "The Normal version of {0} is {0:n}"

print(txt.format(12.36))

The Normal version of 12.36 is 12.36

In [34]:
txt = "The Normal version of {0} is {0:n}"

print(txt.format(125))

The Normal version of 125 is 125

#### To convert % Format

In [35]:
#Use "%" to convert the number into a percentage format:

txt = "You scored {:%}"
print(txt.format(0.25))

You scored 25.000000%

In [37]:
txt = "You scored {:.2%}"
print(txt.format(0.25))

You scored 25.00%

In [38]:
#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25%