In [11]:
# factorial - iterative method 

def factorial(num):
    if num <0:
        return 0
    elif num == 0 or num == 1:
        return 1
    else:
        fact = 1
        while num>1:
            fact *= num
            num -=1
        return fact
num = int(input("Please enter the Number: "))
factorial(num)

Please enter the Number: 5

120

In [1]:
# factorial recursive method 

def factorial(num):
    return 1 if (num == 1 or num== 0) else num*factorial(num -1)
num = int(input("Please enter the number: "))
factorial(num)

Please enter the number: 0

1

In [3]:
## math built in method 
import math 

def factorial(n):
    return (math.factorial(n))
# Lets check 
number = int(input("please enter the number: \n"))
print(f"Factorial of your number is : {factorial(number)}")

please enter the number:
5
Factorial of your number is : 120

In [8]:
# Prime number 

def check_prime(n):
    
    if n>1:
        for i in range(2, n):
            if n%i == 0:
                print("Not Prime")
                break
        else :
            print("Prime")
            
    else:
        print("Not Prime ")
        
n = int(input("Please enter the number: "))
check_prime(n)

Please enter the number: 4
Not Prime

In [17]:
def root(n):
    return n**3
n = int(input("Please enter the number "))
root(n)

Please enter the number 27

19683

In [1]:
s = ["ab", "cd"]
for i in s:
    i.upper()
    print(i)

ab
cd

In [24]:
s = ["ab", "cd"]
for i in s:
    i.upper()
print(i)

cd

In [3]:
s = ["ab", "cd"]
for i in s:
    print(i.upper())

AB
CD

### Find the second highest in the list

In [4]:
lst = [9,9,9,8,8,8,8,1,1,1,2,2,2,0,0,0,3,3,3,3]
lst.sort()

In [5]:
lst

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 8, 8, 8, 8, 9, 9, 9]

In [6]:
set(lst)

{0, 1, 2, 3, 8, 9}

In [9]:
list(set(lst))[-2]

8

In [12]:
lst = [9,9,9,8,8,8,8,1,1,1,2,2,2,0,0,0,3,3,3,3]
lst.sort()
list(set(lst))[-2]

8

In [23]:
l = [9,9,9,8,8,8,8,1,1,1,2,2,2,0,0,0,3,3,3,3] 
l2 = set(l) 
l3 = list(l2) 
l3.sort(reverse=True) 
print(l3) 
print("Second largest number of the given list :", l3[1])

[9, 8, 3, 2, 1, 0]
Second largest number of the given list : 8

### Replace Method 

string.replace(oldvalue, newvalue, count)

In [16]:
txt = "I like bananas bananas bananas"

x = txt.replace("bananas", "apples",)

print(x)

I like apples apples apples

In [17]:
txt = "I like bananas bananas bananas"

x = txt.replace("bananas", "apples",2)

print(x)

I like apples apples bananas

In [14]:
txt = "kartik"

x = txt.replace("kartik", "k$$$$$")

print(x)

k$$$$$

In [15]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [26]:
class Parent:
    x = 2
    
class Child1(Parent):
    self.x = x
    
class Child2(Parent):
    self.x = x
    
child = Child2()
child.x = 3

print(Child2.self.x)

NameError: name 'self' is not defined

In [1]:
def outer_function(a, b): 
    def inner_function(c, d): 
        return c + d 
    return inner_function(a, b) 
  
result = outer_function(5, 10) 
print(result)

15